/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/web/js/zeega.config.js
/web/content/images/tmp/*
/web/content/images/thumbs/*
/web/content/images/frames/*
/web/content/items/*
/web/js/widget/zeega.bookmarklet.js
/web/js/players/zeega.rdio.token.js
Libraries/
.DS_Store
jda_data.*
!.gitignore

