{# src/Zeega/CoreBundle/Resources/views/About/about.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}<title></title>{% endblock %}


{#%  block stylesheets %#}
{#% endblock %#}

{% block scripts %}
	<!--
	<script data-main="{{ asset('js/loaders/about') }}" src="{{ asset('js/lib/require/require-1.0.5.js') }}"></script>
	--> 
{% endblock %}

{% block content %}


{% endblock %}