{# src/Zeega/CommunityBundle/Resources/views/Contact/contact.html.twig #}

{% extends 'ZeegaCommunityBundle:About:about_base.html.twig' %}

{% block title %}Contact{% endblock %}
 
{% block backgroundurl %} http://25.media.tumblr.com/tumblr_m5ekm3RTgN1qg39ewo1_500.gif {% endblock%}

{% block body %}
<div class="gifcredit"><a href="http://gifmovie.tumblr.com" target="_blank">gifmovie.tumblr.com</a></div>
<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color">
	</div>
	<!-- Background Color Div ends -->
	
	<!-- Page Intro Begins -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>Contact</h1>
				<span class="contact-pink"><h2>info[at]zeega.org</h2></span><br>
				<span class="contact-pink"><h2>364a Broadway, Cambridge MA 02139</h2></span><br>
				<span class="contact-pink"><h2>Twitter <a href="https://twitter.com/#!/zeega" target="_blank">@zeega</a></h2></span><br>
				
				<span class="contact-pink"><h2> Mailing List</h2></span>
				
				<div id="thanks" class="hide">
					Wahoo! Check your email to confirm.
				</div><!--#thanks-->
				
				<form id="signupForm" class="form-vertical">
			          <div class="box">
			               <input type="text" name="Name" id="name" value="Name"/>

			               <input type="email" name="Email" id="email" value="Email"/>
			  				<br>
			                <input id="signUpSubmit" type="button" class="btn btn-large btn-success btn-custom" value="Submit"	 />
			            
			            <div class="clear"></div>
			         </div>
			    </form>
			
			</div>
		
		</div>
	<br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	
	<!-- Page Intro Ends -->
	
	


{% endblock %}