{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Video Tutorials and FAQ{% endblock %}



{% block body %}
	
<div id="faq" style='color:white; padding:10px;' class="container"> 


	<h1>VIDEO TUTORIALS</h1>


	<ul id='faq-list' class='unstyled'>

		<li>
			<div class="expander"><h3><a href='#'>How do I get started?</a></h3></div>
			<div class="faq-content hide">
				<p class="">First, update your user profile with a photo and background image. Then start a project to access the editor. To begin making, you'll need media to play with. You use the bookmarklet to images, videos, sounds and more from the web. And you can use your own media by connecting to Dropbox. After you have media, you can start adding layers, making new frames and authoring a full project. This video below explains these basics of Zeega. </p>
				
<iframe src="http://player.vimeo.com/video/50002469?title=0&amp;byline=0&amp;portrait=0" width="950" height="594" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>			
			</div>
		</li>
		
		<li>
			<div class="expander"><h3><a href='#'>What sites does Zeega support?</a></h3></div>
			<div class="faq-content hide">
				<p class="">Currently, you can use the Zeega bookmarklet to add media from your Dropbox account or add individual photos and sets from Flickr; individual videos and sets on YouTube; individual tracks and sets from SoundCloud; publicly-viewable photos and albums from Facebook; videos from Archive.org; image posts from Tumblr; maps from Mapbox; and any URL that ends in .jpg, .png, .mp4 or .mp3. </p>

<iframe src="http://player.vimeo.com/video/44066547?title=0&amp;byline=0&amp;portrait=0" width="950" height="576" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

			</div>
		</li>
		

		<li>
			<div class="expander"><h3><a href='#'>How can I use a soundtrack for my project?</a></h3></div>
			<div class="faq-content hide">
				<p class="">All layers can exist on one frame or continue on multiple frames, allowing for seamless, uninterrupted playback. For example, if you want to have the same music play underneath a full sequence, start by dragging an audio file to a frame. This will create a new audio layer. Open that layer and then click "Continue Layer." Select "This Sequence." Now that layer will play continuously under the entire sequence, so as you move from frame to frame, it will play uninterrupted.</p>
				
<iframe src="http://player.vimeo.com/video/50005168" width="950" height="594" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>			
			</div>
		</li>
		
		
		<li>
			<div class="expander"><h3><a href='#'>How do I control timing and create an animation?</a></h3></div>
			<div class="faq-content hide">
				<p class="">You can control the timing of every frame in Zeega down to a fraction of a second. The default setting for a frame is manual advance, but you can select "Timed Advance" and enter a number. This feature also allows Zeega to be used for making simple animations. If time is set for the last frame of a sequence, it will advance back to the first frame. This video below explains setting time and making an animation.</p>

<iframe src="http://player.vimeo.com/video/50002951?title=0&amp;byline=0&amp;portrait=0" width="950" height="594" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>			
				
			</div>
		</li>
		
		<li>
			<div class="expander"><h3><a href='#'>How do I create links?</a></h3></div>
			<div class="faq-content hide">
				<p class="">You can turn any Zeega frame into an interface. The frame can consist of anything - images, video, streetview, etc. This allows you to create narrative environments, not just linear stories. In a sense, you can build full-scale websites, but with contextual, visual navigation.<br><br> 
				
				You'll notice "Link to New Frame" above the workspace. If you  click it, it creates an adjustable bounding box on the frame. That box represents a part of the frame that will become a link to another frame in a new sequence. You can move/scale the box to select the specific part of a frame (e.g. the window of a building). When you click the green "Confirm" button above the workspace, a new sequence is created. That sequence works the same as the initial Intro Sequence. You can add media, add more frames, etc. You can also add more links, including links to existing frames (such as the first frame). Layers can continue across multiple sequences, allowing for continuos sound, if desired.				</p>

<iframe src="http://player.vimeo.com/video/50004484?title=0&amp;byline=0&amp;portrait=0" width="950" height="594" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>			
				
			</div>
		</li>
	

		<li>
			<div class="expander"><h3><a href='#'>How can I publish and share my Zeega?</a></h3></div>
			<div class="faq-content hide">
				<p class="">
				
				You can share your Zeega as easily as a YouTube video. Before publishing and sharing, you should give it a cover image (drag any media to the default "Z graphic" under your project title), a title and add metadata. Then you'll get a URL that you can pass on directly, or embed code that you can use in another site (e.g. WordPress).
				
				</p>

<iframe src="http://player.vimeo.com/video/50004024?title=0&amp;byline=0&amp;portrait=0" width="950" height="576" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			
			</div>
		</li>
		
		

		

<!--
		<li>
			<div class="expander"><h3><a href='#'>How do I add my own media to Zeega with Dropbox?</a></h3></div>
			<div class="faq-content hide">
				<p class="">You can use Dropbox to add your own media to Zeega. To connect your Dropbox account and Zeega, click the Dropbox icon located above the search bar in the editor. First, you will be asked to login to Dropbox and to connect the Zeega app to your account. After this, you will have a "Zeega" folder inside your "Apps" folder on Dropbox. Simply upload media to this folder and when you want to use the new items in Zeega, click the Dropbox icon again within the editor to sync. Currently supported file types include: .jpg, .gif, .png, .mp3 and .mp4. For video compression, we suggest <a href="http://www.squared5.com/" target="_blank">MPEG Streamclip</a> (free and cross-platform). Recommended settings: Video: H264 &amp; 5000kbps / Audio: AAC  320kbps 44.1 kHz</p>
				
			</div>
		</li>
	
		<li>
			<div class="expander"><h3><a href='#'>How can I view media I've added to Zeega?</a></h3></div>
			<div class="faq-content hide">
				<p class="">Once you have added media, you will see it displayed as thumbnails in the lower-left of the editor. You can click on any media to view and edit it's metadata.</p>
		
			</div>
		</li>

	
		
		
		<li>
			<div class="expander"><h3><a href='#'>How can I add text?</a></h3></div>
			<div class="faq-content hide">
				<p class="">
				
				You can easily add multiple text layers to a frame by clicking the "Text" icon under "Layers." For each text layer, you can select a font, size, color and other stylings. You can have as many text layers on a frame as you'd like. 
				
				</p>
			
			</div>
		</li>
		
		<li>
			<div class="expander"><h3><a href='#'>How can I add Google Street View?</a></h3></div>
			<div class="faq-content hide">
				<p class="">
				
				Simply click the "Streetview" icon and you'll get a Google Street View panorama in your frame. It's a normal layer, and you can control sizing, position, opacity, etc.
				
				</p>

			
			</div>
		</li>
		
-->
		
	
	<br>
	<h1>FAQ</h1>
	
		
		<li>
			<div class="expander"><h3><a href='#'>What are some examples of things people have made with Zeega?</a></h3></div>
			<div class="faq-content hide">
				<p class="">
				A few recent examples...<br><br>
				<a href="http://zeega.com/46324" target="_blank"><i>Animations</a></i><br>
				<a href="http://zeega.com/46324" target="_blank">Out of Sight, Out of Mind</a></i><br>
				<a href="http://zeega.com/41616" target="_blank"><i>Geodesic Domes or No Direction Home?</a></i><br>
				<a href="http://zeega.com/41255" target="_blank"><i>Nuit Blanche</a></i><br>
				<a href="http://zeega.com/45785" target="_blank"><i>Muybridge Cat Animation</a></i><br>
				<i><a href="http://zeega.com/41263" target="_blank">Berkman summer project about Interop book </a></i><br>
				<a href="http://zeega.com/41792" target="_blank">Student project from "Environment Built" class at Brown,<i>From Great Salt Cove to Waterfront Park</a></i><br>
				<a href="http://zeega.com/44794" target="_blank">Student project from "Environment Built" class at Brown, <i>Stories of Summer Camps</a></i><br>
				</p>
			</div>
		</li>
		
		<li>
			<div class="expander"><h3><a href='#'>What browsers does Zeega support?</a></h3></div>
			<div class="faq-content hide">
				<p class="">
				The playback of Zeegas is supported across the latest versions of all major browsers (i.e. Chrome, Safari, Firefox and IE9). The Zeega editor is currently only available via Chrome or Safari. Once Firefox supports .mp4 and .mp3, we plan to make the editor accessible in Firefox. 
				</p>
			</div>
		</li>
		
		<li>
			<div class="expander"><h3><a href='#'>Does Zeega work on mobile and tablets?</a></h3></div>
			<div class="faq-content hide">
				<p class="">
				Currently, Zeega is only accessible via desktop browsers, as mobile and tablet browsers limit the number of media tracks that can be played simultaneously. We are currently building native iPhone and iPad apps that support the playback of Zeegas on these devices.
				</p>
			</div>
		</li>
		
		<li>
			<div class="expander"><h3><a href='#'>Is it possible to pause a Zeega?</a></h3></div>
			<div class="faq-content hide">
				<p class="">
				Yes. Pressing the space bar will pause/play a Zeega. 
				</p>
			</div>
		</li>
		
		<li>
			<div class="expander"><h3><a href='#'>How should I describe the elements of a Zeega project? What do you call this stuff?</a></h3></div>
			<div class="faq-content hide">
				<p class="">A Zeega is made up of frames and sequences. Each frame can have multiple layers. Layers can be media items such as photos or videos, or text or Google Street View. Frames can be linked together to create nonlinear narrative environments. For a more detailed overview of Zeega and its vocabulary, <a href="https://docs.google.com/document/d/1_e9dJJ9ux9dbTXTsC3BCyyYzN33ojjNgGekvvrLKHdU/edit" target="_blank">see this document</a>.</p>
			</div>
		</li>
		
		<li>
			<div class="expander"><h3><a href='#'>Where did the name Zeega come from?</a></h3></div>
			<div class="faq-content hide">
				<p class="">
				
Zeega is an intentional misspelling of Dziga Vertov, one of our favorite media artists. Born Denis Kaufman, Vertov chose to rename himself "dziga" because the word means spinning top in Russian and also makes the sound of a turning camera. Vertov is one of the pioneers of visionary, experimental media practice, starting a "Laboratory of Hearing" in 1918; founding a collaborative documentary team called the "Kinoks"; instigating public projections; and pioneering database-driven forms of documentary. He is most well-known for his groundbreaking 1927 film <a href="http://video.google.com/videoplay?docid=-2809965914189244913#" target="_blank" style="color: red;"><i>Man with a Movie Camera</i></a>. One of the best essays written on Vertov and <i>Man with a Movie Camera</i> is Annette Michelson's <a href="http://zeega.org/downloads/Michelson_EpistemologisttoMagician.pdf" target="_blank" style="color: red;">"From Magician to Epistemologist"</a> (1971), and Lucy Fischer has written on Vertov's radio work in her essay <a href="http://zeega.org/downloads/KinoEyetoRadioEye.pdf" style="color: red;">"Enthusiasm: From Kino-Eye to Radio-Eye"</a> (1977).

</p>

			
			</div>
		</li>
		
		<li>
			<div class="expander"><h3><a href='#'>Something is not working, what should I do?</a></h3></div>
			<div class="faq-content hide">
				<p class="">
				
1) Refresh your browser (command R).<br>
2) If that doesn't work, clear your cache (command/shift/delete or "Clear Browsing Data" from the Chrome menu).<br>
3) Use the "Report a Bug" link in the header! We'll do our best to fix the issue as soon as possible.<br>
				</p>

			
			</div>
		</li>
		
		<li>
			<div class="expander"><h3><a href='#'>What new features do you have planned?</a></h3></div>
			<div class="faq-content hide">
				<p class="">
				
There's lots of upcoming goodness. Some highlights for the fall will likely include:<br><br>

- A media commons with all media made public by other Zeega users, so you can make collections and use this media in your own projects<br>
- Looping audio and video<br>
- Support for markers on Mapbox maps<br>
- Numerical inputs for more precise positioning of layers<br>
- Numerical input for font size<br>
- Ability to add Mozilla Popcorn projects to Zeega<br><br>

Longer term, some things we're working on are:<br><br>

- Custom URLs for Zeega projects<br>
- Ability to auto-ingest media from social media sites tied to a specific tag<br>
- Playback of Zeegas on mobile and tablet devices<br>
- Ability to play back Zeegas without an Internet connection via a desktop player<br>

</p>

			
			</div>
		</li>
		
	</ul>

</div> 
 

{% endblock %}				
{% block scripts %}
	<script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script data-main="{{ asset('js/loaders/main.faq.js') }}" src="{{ asset('js/lib/require-jquery.js')}}"></script>
{% endblock %}
