{# src/Zeega/CommunityBundle/Resources/views/About/about.html.twig #}

{% extends 'ZeegaCommunityBundle:About:about_base.html.twig' %}

{% block title %}Mission{% endblock %}
{% block backgroundurl %}{% endblock%}

{% block body %}
<!-- Background Color Div - creates the transparent layer over the background image -->

	
	<!-- Page Intro Begins -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1 style="color: black; text-shadow: 0px 0px 0px;">MISSION</h1>
			</div>
		
		</div>
	
	</div>
	
	<!-- Page Intro Ends -->
	
	
	<!-- Page Content Begins -->
	
	<div class="container new-section">
	
		<div class="row">
			
			<!-- Main Column Begins -->
					
			<div class="span14 article" style="color: black;">
<p>
Zeega is revolutionizing web publishing and interactive storytelling for a future beyond blogs. With Zeega, you can use any media in the cloud, transform the entire screen into your playground, and share your interactive creations with the world.<br><br>
We’re living in a unique moment. More media than ever is recorded and shared. But the web today is dominated by a few platforms - all stories start to feel the same, trapped in rigid boxes and long lists. Zeega is ushering in an era when the web truly becomes an interactive, audiovisual medium made by everyone. 
</p>

<p>
<h2>Interactive Storytelling</h2> 
<a href="http://zeega.com/51818"><img src="http://25.media.tumblr.com/9c6c55a5091d50cc276de54c368f0fd3/tumblr_mj8a141YNz1rhler4o1_1280.png" width="960px"/></a> 
Everyone wants to tell stories that allow viewers to interact, but to remain captivated. A great example is how <a href="http://www.mymodernmet.com/profiles/blogs/steve-duncan-undercity " target="_blank">this blog post</a> about urban explorer Steve Duncan is <a href="http://zeega.com/93075">transformed into this Zeega</a> that allows you to travel with him beneath New York, Paris and other cities. Or this <a href="http://zeega.com/88277 ">recent report by NewsHour on the current debates of gun control</a>. 
</p>

<p>
<h2>Creating Memories</h2> 
<a href="http://zeega.com/74504"><img src="http://25.media.tumblr.com/8df5d9776809812fcf7429e91a73a1c0/tumblr_mj8adi7a1b1rhler4o5_1280.png" width="960px" /></a> 
Anyone can use Zeega to create lasting artifacts of their favorite experiences. A scrolling list of photos on Tumblr, a stream of Instagrams or a photo set on Facebook simply doesn’t fill the same need for narrative memories like the old treasured scrapbook.<br><br>
One our recent favorites is <a href="http://zeega.com/74504">How I Got To Boston</a>, a personal story of the post-college years. 
</p>

<p>
<h2>Playing with the Web</h2> 
<a href="http://zeega.com/57516"><img src="http://25.media.tumblr.com/e740088dbe5aa00b2bcc6ecf49443185/tumblr_mj8a5rpzND1rhler4o1_1280.png" width="960px"/></a> 
Zeega is also a great platform for playing with the web. A large part of the community is starting to really get into making “audioGIFs,” simple combinations of animations and audio. 
</p>

<p>
<h2>Changing Media for Good</h2> 
<img src="http://25.media.tumblr.com/eb80ceca7ee3c3e6083a68f4bc25f7be/tumblr_mj8bgdY6hH1rhler4o1_1280.png" /><br> 
We first started working together in 2009, traveling over 15,000 miles while living out of a Subaru station wagon to tell the stories of America’s transformation through a project called Mapping Main Street. In 2011, Zeega won the Knight News Challenge, a global competition for innovative media projects that engage communities in new ways. This grant gave us a chance to prototype the platform. Since then, thousands have used it, from two-time Pultizer-prize winner Paul Salopek as he chronicles <a href="http://zeega.com/63840">a seven-year walk from Africa to South America</a> to <a href=
http://zeega.com/75056">love letters in Argentina</a> to <a href="http://zeega.com/92103 ">odes to PB&J</a>.<BR><BR>
Now, we are part of the first cohort of startups in <a href="http://matter.vc/">Matter</a>, a new San Francisco-based accelerator for mission-driven companies committed to changing media for good.
</p>

<p>
<h2>The Basics</h2> 
<img src="http://24.media.tumblr.com/6bdab1b1fbdf1b3414b2c17a6a4a0e0f/tumblr_mj8avadDN51rhler4o1_1280.png" width="960px"/> 
Zeega is as easy to use as Tumblr. Create with our web-based editor and publish to mobile, tablet and desktop.
</p>

<p>
<h2>Use Any Media You Want</h2> 
<img src="http://24.media.tumblr.com/52c68a29991809675be6c742ebbc344a/tumblr_mj8adi7a1b1rhler4o1_1280.png" width="960px"/> 
Combine media from SoundCloud, Giphy, Instagram, Tumblr, Flickr, YouTube and Archive.org.
</p>

<p>
<h2>Share Everywhere</h2> 
<img src="http://25.media.tumblr.com/6119e519a4cf400a7d3be1ac694e632f/tumblr_mj8adi7a1b1rhler4o2_1280.png" width="960px"/> 
Share your Zeega directly into Twitter, Facebook and Tumblr or embed your Zeega on any site. 
</p>

<p>
<h2>Freedom of Expression</h2> 
<img src="http://25.media.tumblr.com/91aa7d470ae6db0d0b7af030223e356c/tumblr_mj82x8M9ah1rhler4o3_1280.png" width="960px" /> 
Layer media. Set timings. Add text. 
</p>

<p>
<h2>Invent Your Own Interface</h2> 
<img src="http://25.media.tumblr.com/004bf166ea701f8b6d8eefca90e79c7e/tumblr_mj8adi7a1b1rhler4o4_1280.png" width="960px" /> 
Turn any part of the screen into a link.
</p>

<p>
<h2>Credit Everyone</h2> 
<img src="http://24.media.tumblr.com/d6996390b8a85ff2e66624ec117f6f78/tumblr_mj8adi7a1b1rhler4o3_1280.png" width="960px" /> 
All media is properly cited to its original author and tracked back to its source location.
</p>

<p>
<h2>Thank You</h2> 
We are so grateful to all of you who have helped along this journey. We have received the tremendous support of <a href="http://airmedia.org/">AIR</a>, <a href="http://cyber.law.harvard.edu/">The Berkman Center for Internet and Society</a>, <a href="http://metalab.harvard.edu/">metaLAB</a>, <a href="http://osc.hul.harvard.edu/liblab">Harvard Library Lab</a> and others. And we’ve continued to experiment with new forms of storytelling in partnership with amazing producers and stations during <a href="http://airmediaworks.org/">Localore</a>, telling the stories of <a href="http://roughride.blackgoldboom.com/">fracking in North Dakota</a>, <a href="http://blogs.kqed.org/makingof/studio ">exploring the maker culture of the Bay Area</a> and <a href="http://austinmusicmap.com/">mapping the overlooked musical geography of Austin</a>. Now it’s time to open the gates and to let anyone start using Zeega to remake the Internet.</p>

			</div>
			
			<!-- Main Column Ends -->
			

			

		
		</div>
	
	</div>
	
	<!-- Page Content Ends -->


{% endblock %}
