{# src/Zeega/CommunityBundle/Resources/views/About/about.html.twig #}

{% extends 'ZeegaCommunityBundle:About:about_base.html.twig' %}

{% block title %}Mission{% endblock %}
{% block backgroundurl %}{{ asset('images/about/about_mwmc.gif')}}{% endblock%}

{% block body %}
<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color">
	</div>
	<!-- Background Color Div ends -->
	
	<!-- Page Intro Begins -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>MISSION</h1>
			</div>
		
		</div>
	
	</div>
	
	<!-- Page Intro Ends -->
	
	
	<!-- Page Content Begins -->
	
	<div class="container new-section">
	
		<div class="row">
			
			<!-- Main Column Begins -->
					
			<div class="span14 article">
				<h2>Zeega is revolutionizing web publishing and interactive storytelling for a future beyond blogs. People today want to mix media, but the dominant web platforms still separate images, audio and video. With Zeega, anyone can easily create stories with media in the cloud and share these interactive experiences across networks.<br><br>

Little by little, we want to help remake the Internet. To make it a more beautiful place. To make the web’s wilds accessible to anyone for new forms of expression.<br><br>

People and publishers want to tell stories in a format that allows viewers to interact, but to remain captivated. There is a desire to enhance what the experience of a “post” on a blog or social media is, to make it more immersive and more interactive. Existing platforms are meeting the need of better design, but they are not meeting the need of providing creators the ability to make genuinely new experiences. See this recent Zeega made by two-time Pulitizer prize-winner Paul Salopek about his current project w/ National Geographic, NPR and the NYTimes: <a href="http://zeega.com/63840" target="_blank">Out of Eden</a>.<br><br>

We are ushering in an era when audio, image and pacing define web experiences. An era when the web truly becomes an interactive, audiovisual medium. Another great example is how <a href="http://www.mymodernmet.com/profiles/blogs/steve-duncan-undercity" target="_blank">this blog post</a> is <a href="http://zeega.com/51818" target="_blank">transformed into this Zeega</a>. Zeega empowers anyone to quickly, easily make fullscreen, app-like experiences without any programming. In addition to journalists, the platform has been readily adopted by educators at all levels to facilitate new forms of media-based learning.<br><br>

As everyone records more and more media about their lives, we’re helping people create stories that really serve our memories. A scrolling list of photos on Tumblr, a stream of Instagrams or a photo set on Facebook simply doesn’t fill the same need for narrative memories like the old treasured scrapbook. See this recent Zeega <a href="http://zeega.com/74504" target="_blank">How I Got To Boston</a>, a personal story made by someone with no technology/media experience.<br><br>

But Zeega is not just for serious storytelling. It’s a great platform for playing with the web. A large part of the community is starting to really get into making “audioGIFs,” simple combinations of animations and audio. <a href="http://zeega.com/channel/audiogif" target="_blank">Watch this channel</a> to see some of the most recent. Tag any Zeega yourself with “audiogif” to add to the channel!<br><br>

A robust alpha product and growing global community have been supported with funding from the Knight Foundation, the Harvard Library Lab and partnerships with media organizations across the country through Localore, a national initiative produced by the Association of Independents in Radio (AIR) with Zeega. The core app includes an HTML5 player that can easily be embedded in social media and will also be accessible via a native app on mobile/tablet. Content is authored using a very simple drag-and-drop web-based interface. This all runs on our own API, a powerful backend that interrelates the data underneath the network and also includes the ability to auto-aggregate media from across the web tied to a hashtag or a users’s social media accounts.<br><br>

Zeega has three co-founders. CEO Jesse Shapins is a social entrepreneur who has founded/directed multiple media startups and non-profits over the past decade and holds a PhD from Harvard in architecture/media. Chief Creative Officer Kara Oehler is a Peabody-award-winning journalist who has produced stories for NPR, the BBC and other major companies. Kara and Jesse first started working together in building Yellow Arrow, a highly-recognized, early example of mobile publishing and one of the world’s first global public art projects. CTO James Burns has been programming since his days acquiring a BA in Mathematics at Stanford, and has a PhD in Economics from Harvard. Jesse and James had lockers next to each other in six grade, when they made a zine that got them suspended from a middle school in Boulder. Kara, Jesse and James first started working together in 2009 on Mapping Main Street, a cutting-edge use of open media APIs produced w/ AIR, NPR and the Berkman Center. In addition to the three founders, there is an extraordinary core team. Joseph Bergen is Head Product Architect; Luis Filipe Brandao is Head Data Designer; Ahmed Kabil is Community Coordinator.

The name Zeega is inspired by one of the world’s greatest modern artists, Dziga Vertov, a filmmaker and radio journalist who nearly a century ago defined the radical potential for new forms of media-making. He is most famous for his 1929 <a href="http://www.youtube.com/watch?v=Iey9YIbra2U" target="_blank">Man with A Movie Camera</a></h2>
			</div>
			
			<!-- Main Column Ends -->
			

			

		
		</div>
	
	</div>
	
	<!-- Page Content Ends -->


{% endblock %}
