{# src/Zeega/CommunityBundle/Resources/views/Terms/terms.html.twig #}

{% extends 'ZeegaCommunityBundle:About:about_base.html.twig' %}
{% block title %}Jobs{% endblock %}
{% block backgroundurl %}{{asset("images/about/news.gif")}}{% endblock %}


{% block body %}
<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color-lighter">
	</div>
	<!-- Background Color Div ends -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>NEWS</h1>
				
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Page Intro Ends -->
	
	
	<!-- Page Content Begins -->
	
	<div class="container new-section">
	
		<div class="row">
								
			<div class="span14 article">
			
				<h2>
				</h2>
				
				</div>
		</div>
	</div>
	
	
	<!-- Special Project Separator Begins -->
	
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2>We're hiring Zeega Creative Technologists</h2>
				 
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Separator Ends -->
	
		
	<div class="special-team" style="background: url() no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
			
	<div class="container new-section">
	
		<div class="row">
			
			<!-- Main Column Begins -->
					
			<div class="span14 article">

				<br><br>
				
				<div class="dark-background">
				
We're looking for <span class="pink">Zeega Creative Technologists</span>, JavaScript and/or PHP developers passionate about creating beautiful, immersive web experiences via an scalable, robust web application.<br><br>
	
	You would join a core team of inventors in the fields of interactive design, journalism, machine learning, documentary arts, and social entrepreneurship. We'd love to work with local folks in Boston, but are excited to meet great people anywhere. If you are interested, send a cover letter to <span class="red">jobs [at] zeega.org</span> with links to your work and some code on Github.<br><br>
	

<span class="pink">The primary activities include:</span><br><br>

<span class="pink">*</span> Working collaboratively with our tech and design teams to create cutting-edge sites for <a href="{{path('ZeegaCommunityBundle_productions')}}">Zeega Productions</a> projects.<br><br>
<span class="pink">*</span> This means writing lots of beautiful JavaScript or PHP code and drawing extensively upon existing open-source libraries/frameworks such as backbone.js, popcorn.js, leaflet.js and Symfony.<br><br>
<span class="pink">*</span> Regularly working on-site, as well independently from locations of your choice.<br><br>

<span class="pink">The ideal candidate has:</span><br><br>

<span class="pink">*</span> Demonstrated experience in advanced JavaScript, PHP development, database development or server architecture/optimization.<br><br>
<span class="pink">*</span> Dedication to open source, open web, open data, openness all around.<br><br>

The position is part-time, with ca. 20 hours per week, with the potential for growth into full-time. Compensation is competitive for mission-driven media and based on experience. You don't have to live in Boston right now, but we'd love it if you did.<br><br>

If this isn't you, but you know someone who might be perfect, please spread the word.
				
				
			</div>
			
			<!-- Main Column Ends -->
			
			
			
		
		</div>
	
	</div>
	</div>

	
	<!-- Page Content Ends -->


{% endblock %}