{# src/Zeega/CommunityBundle/Resources/views/Terms/terms.html.twig #}

{% extends 'ZeegaCommunityBundle:About:about_base.html.twig' %}
{% block title %}Terms of Use{% endblock %}
{% block backgroundurl %}http://24.media.tumblr.com/tumblr_m782myL4kk1qg39ewo1_500.gif{% endblock %}


{% block body %}
<!-- Background Color Div - creates the transparent layer over the background image -->
	<div id="background-color-lighter">
	</div>
	<!-- Background Color Div ends -->
	
	<div class="container new-section">
	
		<div class="row">
	
			<div class="page-intro span11">
			
				<h1>TERMS OF USE</h1>
				
			
			</div>
		
		</div>
	
	</div>
	
	<!-- Page Intro Ends -->
	
	
	<!-- Page Content Begins -->
	
	<div class="container new-section">
	
		<div class="row">
								
			<div class="span14 article">
			
				<h2>MEDIA AND PLACE (MAP) PRODUCTIONS, INC. (“Zeega”), located at 364a Broadway, Cambridge, MA 02139, owns, maintains, and operates the zeega.org website, as well as other related products and services (collectively the “Services”). 

				These Terms of Use govern your use of the Services, so please read these terms carefully before using or accessing the Services. By using or accessing any portion of the Services you agree to be bound by these Terms of Use. If you do not agree to and accept these Terms of Use and Privacy Policy, please do not register for an account or use the Services in any manner. All individuals who access or otherwise use the Services, including casual visitors to the zeega.org website are referred to in these Terms of Use as “Users”. 
				</h2>
				
				</div>
		</div>
	</div>
	
	
	<!-- Special Project Separator Begins -->
	
	<br><br><br><br><br><br>
	<div class="section-divider">
	
		<div class="shadow">
		</div>
		
		<div class="content">
	
			<div class="container">
			
				<div class="row">
		
					<div class="span8 offset3">
						
						<h2></h2>
				
					</div>
					
					<div class="span3">
					
					</div>
					
				</div>
		
			</div>
			
			<div class="arrow-down"><div class="striped-arrow"></div></div>
			
		</div>
	
	</div>
	
	<!-- Special Project Separator Ends -->
	
		
	<div class="special-team" style="background: url({{ asset('images/about/terms.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
			
	<div class="container new-section">
	
		<div class="row">
			
			<!-- Main Column Begins -->
					
			<div class="span14 article">

				<br><br>
				
				<div class="dark-background">
				
<h3>1.	Privacy Policy</h3>
Zeega respects your privacy. How Zeega uses, collects, and stores data is governed by the Zeega Privacy Policy, which can be found at URL. The terms of Zeega’s Privacy Policy are incorporated into these Terms of Use by reference and made part of these Terms of Use. By agreeing to these Terms of Use, you additionally agree to be bound by Zeega’s Privacy Policy.<br><br>

<h3>2.	Account Creation</h3>
In order to use some features of the Services, you will need to register with Zeega and create an account. When registering you will be asked to provide certain personal information, such as your name and email address. Please see Zeega’s Privacy Policy for Zeega’s data retention and usage policies. You agree not to create an account using a false or misleading name or on behalf of someone other than yourself. Accounts created using intentionally misleading information are subject to termination at Zeega’s sole discretion. If you were previously banned or had your account revoked you may not register for another account.<br><br>

<h3>3.	Use of the Services</h3><br>

<b>3.1 	Obligations and Restrictions on Use</b><br>

Your use of the Services is subject to the following restrictions and obligations:<br><br>
<ul>
	<li>a)	You may only use the Services for personal, educational, or other types of noncommercial uses.<li>
	<li>b)	You may not sell, rent, or otherwise offer the Services to third parties, without Zeega’s prior written consent.</li>
	<li>c)	Use of the Services in any way that is unlawful, fraudulent, defamatory, obscene or otherwise harmful, including, but not limited to, displaying any content in a manner that violates any applicable laws, statutes, or regulations, or that Zeega, in its sole discretion, finds to be obscene or defamatory is prohibited.</li>
	<li>d)	You agree to comply with all applicable laws, including, but not limited to, any privacy laws, as well as Zeega’s policies when you use the Services.</li>
	<li>e)	You may not reverse engineer, modify copy, build upon, or alter any portion of the Services, including, but not limited to, the Zeega Embeddable Player.</li>
	<li>f)	You may not use the Services in any way that interferes with the operation of the Services or impacts any other User, host, or network, or circumvents any of the Services’ security protections.</li>
</ul>

<b>3.2</b><br>	

Zeega is only intended for those over the age of 13, and by using or viewing the Services in any way you are affirming that you are at minimum 13 years of age. Zeega does not knowingly collect or retain any personal information for individuals under 13 years of age. Parents, if you believe that Zeega has unintentionally collected personal information regarding your child please contact Zeega at privacy@zeega.org so that Zeega can remove it.<br><br>


<h3>4.	Third-Party Services</h3>
Certain functions of the Services may allow you to link or provide you access to functions, content, sites, or services operated by third parties (collectively, “Third-Party Services”). Those Third-Party Services are subject to the terms and conditions and privacy policies of the third parties that provide them, and Zeega is not responsible for the privacy practices, content, or functionality of the Third-Party Services. You are solely responsible for reading and complying with any licenses, restrictions, privacy policies or other terms and conditions that govern the use of any Third-Party Services you choose to access, visit or link to through your use of the Services, and are solely liable for any violations of those terms and conditions that arise out of or relate to your use of the Third-Party Services.<br><br>


<h3>5.	User Content</h3><br>
<b>5.1.	Contributing Content</b><br>
Some portions of the Services provide you with the ability to upload, post, and link to content while using the Services (“User Content”). You represent and warrant that you have all rights necessary to upload, post or link the User Content to the Services and to grant the rights granted by you to Zeega and other Users pursuant to these Terms of Use. <br><br> 

<b>5.2	License to User Content</b><br>
By submitting your User Content to the Services you grant Zeega a perpetual, irrevocable, world-wide, non-exclusive, fully paid-up, royalty-free, sublicenseable, and transferable license to use, reproduce, reformat, distribute, prepare derivative works of, display, and perform your User Content in connection with the Services. In addition, you grant all other Users a non-exclusive license to use, reproduce, distribute, display, and perform your User Content as part of a Zeega Project. For purposes of this Section, a “Zeega Project” means a multimedia project created by a User through the Services.<br><br>

<h3>6.	Copyright and Licensing</h3><br>
<b>6.1.	Copyright and Trademark Policy</b><br>
Except for any User Content, Zeega owns and retains all rights in and to the Services, including, but not limited to, the design and architecture of the Services, as well as any software, logos, or content provided through the Services, including any intellectual property or other proprietary rights contained therein (collectively, “Zeega IP”). You must seek permission from Zeega if you desire to use the Services in a way that is not outlined in these Terms of Use. Except for any rights explicitly granted under these Terms of Use, you are not granted any rights in and to any Zeega IP.<br><br>

<b>6.2.	Takedown Policy</b><br>
Zeega respects the intellectual property rights of others and asks that Users do the same. Zeega does not host, copy, or cache any User Content displayed on the Services. If you are a rights-holder and believe that your rights have been violated in connection with User Content that is made available through the Services, please send an e-mail or written notice to Zeega’s designated agent for infringement claims with the following information, and Zeega will remove any links to the infringing Content from the Services.<br><br>

<ul>
<li>1.	An electronic or physical signature of a person authorized to act on behalf of the rights-holder.</li>
<li>2.	A description of the work that you claim has been infringed.</li>
<li>3.	A URL indicating where the claimed infringing material is located on the Services.</li>
<li>4.	Your address, telephone number, and email address.</li>
<li>5.	A statement by you declaring a good faith belief that the content use is not authorized by the rights-holder or its agent and is prohibited by law.</li>
<li>6.	A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or an agent authorized to act on the copyright owner's behalf.</li>
</ul>

Zeega’s designated agent for notice for claims of infringement can be reached as follows:<br>
<ul>
<li>•	By mail: Jesse Shapins, 364a Broadway, Cambridge, MA 02139.</li>
<li>•	By phone: (617) 396-4687</li>
<li>•	By email: copyright@zeega.org. This email is for takedown notices only. For all other inquiries, please contact Zeega at info@zeega.org.</li>
</ul>

Please be aware that you may need to separately notify the Third-Party Service hosting linked Content if you wish to remove the Content from their Third-Party Service as well.

<b>6.3.	Takedown Counter-Notice</b><br>
If you receive notification that your User Content has been removed due to a takedown notice, you have an opportunity to appeal this removal if you believe that your User Content was removed in error. If you believe that the removed User Content does not violate any third-party rights, or you have authorization from the rights-holder or the rights-holder’s authorized agent to use the material in question, you may appeal the removal by sending an e-mail or written notice to Zeega’s designated agent with the following information:<br><br>

<ul>
<li>1.	Your physical or electronic signature.</li>
<li>2.	Identification of the material that has been removed or to which access has been disabled, and the location at which the material appeared before it was removed or access to it was disabled.</li>
<li>3.	A statement under penalty of perjury that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled.</li>
<li>4.	Your name, address, and telephone number, and a signed statement that you consent to the jurisdiction of state and federal courts in Suffolk County, Massachusetts, and that you will accept service of process from the party who made the initial infringement claim (or their authorized agent) if they choose to pursue legal action.</li>
</ul><br><br>

<h3>7.	Content Removal and Account Termination</h3>
You are entirely responsible for all activities that occur on or through your account. Zeega retains the right (but not the obligation) to limit, suspend, terminate, modify, or delete your account; to limit your access to the Services or portions thereof; to break links in your User Content; and delete your User Content at Zeega’s discretion, with or without notice to you. Zeega is under no obligation to provide compensation for any such losses or results, which may occur due to a your failure to comply with the these Terms of Use or those of a third party, for repeated violations of third-party rights, for actual or suspected illegal or improper use of the Services, for offensive User Content or conduct, or for technical reasons. <br><br>

<h3>8.	Warranty Disclaimer</h3>
ZEEGA EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, AND NON-INFRINGEMENT. THE SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE BASIS,” AND YOU USE THEM AT YOUR SOLE RISK. YOU ASSUME ALL RESPONSIBILITY TO PROTECT YOUR COMPUTER SYSTEMS OR ANY OTHER DEVICES YOU USE TO ACCESS THE SERVICES FROM DAMAGE CAUSED BY BUGS, VIRUSES, TROJANS, OR THE LIKE WHICH MAY BE TRANSMITTED FROM ZEEGA’S SERVERS. ZEEGA ASSUMES NO LIABILITY FOR THE ACCURACY, SUITABILITY, OR COMPLETENESS OF ANY CONTENT OR INFORMATION THAT MAY BE ACCESSED THROUGH THE SERVICES, WHETHER OR NOT PROVIDED BY ZEEGA OR ITS PARTNERS. ZEEGA DOES NOT GUARANTEE THAT THE SERVICES WILL BE AVAILABLE AT A GIVEN TIME. ZEEGA IS NOT RESPONSIBLE FOR ANY OFFENSIVE OR ILLEGAL CONTENT INCLUDED IN PICTURES, PHOTOGRAPHS, OR OTHER KINDS OF MEDIA INCORPORATED INTO USER CONTENT BY THIRD PARTIES. YOU ACKNOWLEDGE THAT THE VIEWPOINTS EXPRESSED IN YOUR USER CONTENT OR ON THIRD-PARTY SERVICES REPRESENT THE OPINIONS OF THOSE USERS AND THIRD-PARTY SERVICE PROVIDERS, AND ARE NOT ENDORSED BY ZEEGA IN ANY WAY. <br><br>

<h3>9.	Limitations of Liability</h3>
IN NO EVENT IS ZEEGA, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS LIABLE FOR ANY DAMAGES OR LOSSES, WHETHER DIRECT, INDIRECT, INCLUDING, BUT NOT LIMITED TO, DIRECT, INDIRECT, CONSEQUENTIAL, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE, OR OTHER DAMAGES OF ANY KIND ARISING FROM OR RELATED TO THE SERVICES, INCLUDING, BUT NOT LIMITED TO, LOSSES RESULTING FROM LOSS OF DATA, PROPERTY DAMAGE, PERSONAL INJURY, LOSS OF GOODWILL, INABILITY TO USE OR ACCESS THE SERVICES, THIRD-PARTY CONDUCT ON THE SERVICES, OR ANY OTHER ACTIONS ASSOCIATED WITH THE USE OF THE SERVICE. <br><br>

<h3>10.	Indemnification</h3>
You agree at your own expense to indemnify, defend, save, and hold harmless Zeega, its creators, employees, affiliates, officers, directors, contributors, and other representatives from and against any and all judgments, losses, damages, liabilities, costs, or expenses (including, but not limited to, reasonable attorneys’ fees and legal expenses) arising from or related to your use of the Services, or your violation of these Terms of Use.<br><br>

<h3>11.	General Terms</h3><br>
<b>11.1.	Updates and Changes to These Terms of Use</b><br>
Zeega reserves the right to modify these Terms of Use at anytime at its discretion. If Zeega does make changes to this privacy policy, Zeega will update this page accordingly. Please check this page periodically for any changes. You are also advised to stay informed as to the latest terms and policies of any Third-Party Services that your User Content links to. Your continued use of the Services after this page is updated with the new terms signifies your acceptance of the amended Terms of Use. No amendment to these Terms of Use or Privacy Policy shall apply to any dispute of which Zeega had actual notice before the date of the amendment. Other additional terms may apply to other functions or components of the Services. If there is a conflict between these Terms of Use and the other additional terms, the other additional terms will govern.<br><br>

<b>11.2.	Entire Agreement</b><br>
These Terms of Use, constitute the entire agreement between the parties, and supersede all previous agreements relating to the use of the Services.<br><br> 

<b>11.3.	Applicable Law and Forum</b><br> 
These Terms of Use and any referenced policies or guidelines are governed by and construed in accordance with the laws of the Commonwealth of Massachusetts, without regard to principles of conflict of law. In the event that you desire to bring suit against Zeega, you hereby consent to the exclusive jurisdiction of state and federal courts in Suffolk County, Massachusetts, and hereby consent to the personal jurisdiction of said courts.<br><br>  

<b>11.4.	Location of Services</b><br>
The Services are controlled and offered by Zeega from its facilities in the United States. Zeega makes no representations that the Services are appropriate or available for use in other locations. Those who access or use the Services from other jurisdictions do so at their own volition and are responsible for compliance with local law.<br><br>

<b>11.5.	Severability</b><br>
If any provision of these Terms of Use is deemed to be unenforceable for any reason by any court, the invalidity of this provision does not affect the validity of any other provisions in these Terms of Use, which remain in full effect.<br><br>

<b>11.6.	Language of the Terms of Use</b><br>
If Zeega provides you with a translation of the English language version of these Terms of Use, the Privacy Policy, or any other policy, then you agree that the translation is provided for informational purposes only and does not modify the English language version. In the event of a conflict between a translation and the English version, the English version will govern.<br><br>

<b>11.7.	No Waiver</b><br>
No waiver of any term of these Terms of Use shall be deemed a further or continuing waiver of such term or any other term, and Zeega’s failure to assert any right or provision under these Terms of Use shall not constitute a waiver of such right or provision.<br><br>

<b>Questions?</b><br>
If you have questions about these Terms of Use, please contact Zeega info[at]zeega.org.<br><br>

Last modified on July 18, 2012.

				
				
				
			</div>
			
			<!-- Main Column Ends -->
			
			
			
		
		</div>
	
	</div>
	</div>

	
	<!-- Page Content Ends -->


{% endblock %}