/*******************************

	Controls Toolbox
	
*******************************/

.layer-content
{
	
	a:link,a:visited,a:hover,a:active{ color: red }
	
	
	.ui-slider .ui-slider-handle
	{
		-webkit-border-radius: 10px;
		-webkit-box-shadow: 3px 3px 3px #333;
		height:10px;
		width:10px;
	}

	.ui-slider-range
	{
		background:red;
	}
	
	.ui-slider-horizontal
	{
		height:3px;
		border:none;
		background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#444));
	}

	.ui-slider-horizontal .ui-slider-handle
	{
		top:-5px;
		margin-left: -0.2em;
	}
	
	.layer-slider-div
	{
		padding:5px;
		margin:10px 10px 10px 10px;
	}

	.color-window
	{
		position:relative;
		height:36px;
		width:36px;
	}

	.color-preview
	{
		position:absolute;
		top:4px;
		left:4px;
		height:28px;
		width:28px;

		background:url('../images/color-select.png') center;
	}

	.layer-control { margin:12px 0 }

	
	.map
	{
		width : 268px;
		height : 233px;
	}
	
	.control{ padding: 6px 0 }
	.farbtastic { margin : 0 auto }
	
	.link-controls input{ width: 195px }
	
}





/************* end controls toolbox styles ****************/