/*******************************

	PROJECT HEADER
	
*******************************/

#project-header
{
	color:#eee;
	margin : 10px 0;
	height:38px;
}

#project-title
{
	font-family: 'Montserrat', sans-serif;
	float:left;
	font-size:2.5em;
	width:590px;
	height: 1.3em;
	line-height: 42px;
	background-color:#333;
}



#project-actions{ top:5px }

#project-cover-image
{
	background-color: #222;
	width: 54px;
	height: 42px;
	float: left;
	margin-right: 5px;
	border: 1px solid #444;
	border-radius: 3px;
	background-size:54px 42px;
	background-repeat:no-repeat;
}


/************* end header styles ****************/