/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/web/gamma/js/zeega.config.js
/web/images/tmp/*
/web/images/thumbs/*
/web/images/nodes/*
/web/images/items/*
/musicsearch/
/web/gamma/js/widget/zeega.bookmarklet.js
/web/gamma/js/players/zeega.rdio.token.js
Libraries/
.DS_Store*
jda_data.*
!.gitignore

