/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/web/gamma/js/zeega.config.js
/web/gamma/iamges/tmp/*
/web/gamma/iamges/thumbs/*
/music-search/
/web/gamma/js/widget/zeega.bookmarklet.js
