{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}



{% block body %}
	
<div id="faq" style='color:white; padding:10px;'> 


<div class="item-title" style="font-size: 24px; ">FAQ</div><br><br>

<br>
<br>

<div style="color: red;">How should I get started?</div>

1) Focus initially upon building a collection of media and references<br>
2) Storyboard the specific narrative/argument you wish to develop<br>
3) Pull everything together at the end into a polished Zeega project<br><br>

<div style="color: red;">How can I add media to the database?</div>

Click the "Add Media" button in the header and then drag the "Z" to your browser bookmarks bar.<br><br>

<div style="color: red;">From what websites can I upload media?</div>

You can add media to the database from:<br><br>

- Flickr<br>
- YouTube<br>
- SoundCloud<br>
- URLs that end in .mp4, .mp3 or .jpg<br><br>

<div style="color: red;">Something is not working. What should I do?</div>

Don't panic.<br>
1) Refresh your browser (comman R).<br>
2) If that doesn't work, clear your cache (command/shift/delete or "Clear Browsing Data" from the Chrome menu).<br>
3) Email jesse@zeega.org describing as precisely as possible your problem.<br><br>
In the future, there will be a forum where can easily post issues.<br><br>

<div style="color: red;">Can I edit my profile or password?</div>

Currently, you can't edit your profile or password. But you will be able to add a personal photo and bio soon, as well as change your password.<br><br>

<div style="color: red;">Can I create nonlinear links?</div>

This fall, we will not be able to support nonlinear links. But yes, in the future!<br><br>

<div style="color: red;">Can I import texts (e.g. PDFs)?</div>

Currently, there is no support for importing documents. Coming soon!<br><br>

<div style="color: red;">What is Zeega?</div>

Zeega was founded in 2010 by journalist Kara Oehler, media artist Jesse Shapins, and creative technologist James Burns. The team first started working together while developing <a href="http://mappingmainstreet.org" target="_blank">Mapping Main Street</a>, a collaborative documentary co-created with radio producer Ann Heppermann and funded through the <a href="http://mq2.org">Association of Independents in Radio's MQ2 initiative</a> with the <a href="http://cyber.law.harvard.edu" target="_blank">Berkman Center for Internet and Society</a>. We built Mapping Main Street from scratch while also producing stories for NPR. But ultimately, to pull it off, Kara had to put her stuff in storage and live out of her car for the summer. Afterwards, we decided people shouldn't have to give up their homes to make collaborative documentaries.<br><br>

Zeega will enable anyone to create participatory projects that combine original content with photos, videos, text, audio, data feeds and maps via APIs from across the web. But Zeega is not just an online documentary toolkit. Integral to the project is the ability to bridge physical and digital worlds through tangible media such as signs, stickers or even networked receipt printers. Zeega will be a community and framework for creative invention, making it possible for people to pioneer new forms of storytelling that have not yet been imagined.<br><br>

We believe the open web demands a new model for media production that provides makers integrated tools for collection-building, editing, experience design and publishing. Zeega allows anyone to easily explore, visualize and curate collections from public APIs and then use this media to collaboratively create participatory multimedia  projects that are accessible online, on mobile devices and in physical spaces.<br><br>

In an age of open data, access is not enough. Information requires creative context, immersive narrative and surprising design to capture attention and inspire curiosity. Zeega is being developed in partnership with media organizations, libraries, artists, journalists, scholars, filmmakers, students, civic media groups and others with the aim of empowering everyone to participate in shaping public sphere.<br><br>

Zeega is a startup 501(c)3 being incubated within the <a href="http://metalab.harvard.edu" target="_blank">metaLAB (at) Harvard</a>, a research center for innovation in the arts, media and humanities at the Berkman Center for Internet and Society. We are also working in partnership with <a href="http://airmedia.org" target="_blank">AIR</a>, <a href="http://prx.org" target="_blank">PRX</a>, <a href="http://sel.fas.harvard.edu" target="_blank">The Sensory Ethnography Lab</a>, <a href="http://uniondocs.org" target="_blank">UnionDocs</a> and others.

Our ultra-early alpha prototype has been tested with <i><a href="http://sensatejournal.com" target="_blank">Sensate</a></i>, a journal for experiments in critical media practice, as well in new media documentary courses such as <a href="http://mixedrealitycity.org" target="_blank">The Mixed-Reality City</a> and <a href="http://mediaarchaeologyofplace.org" target="_blank">Media Archaeology of Place</a>. Zeega is also being further developed with the support of the <a href="http://osc.hul.harvard.edu/liblab" target="_blank">Harvard Library</a> Lab and is a project in the Beta Sprint of the <a href="http://cyber.law.harvard.edu/research/dpla" target="_blank">Digital Public Library of America</a>.<br>	<br>
 
<div style="color: red;">Where did the name Zeega come from?</div>

Zeega is an intentional misspelling of Dziga Vertov, one of our favorite media artists. Born Denis Kaufman, Vertov chose to rename himself "dziga" because the word means spinning top in Russian and also makes the sound of a turning camera. Vertov is one of the pioneers of visionary, experimental media practice, starting a "Laboratory of Hearing" in 1918; founding a collaborative documentary team called the "Kinoks"; instigating public projections; and pioneering database-driven forms of documentary. He is most well-known for his groundbreaking 1927 film <a href="http://video.google.com/videoplay?docid=-2809965914189244913#" target="_blank"><i>Man with a Movie Camera</i></a>. One of the best essays written on Vertov and <i>Man with a Movie Camera</i> is Annette Michelson's <a href="downloads/Michelson_EpistemologisttoMagician.pdf" target="_blank">"From Magician to Epistemologist"</a> (1971), and Lucy Fischer has written on Vertov's radio work in her essay <a href="downloads/KinoEyetoRadioEye.pdf">"Enthusiasm: From Kino-Eye to Radio-Eye"</a> (1977).<br /><br /> 
<br /><br /> 
</p> 
</div> 
 
 
	
	
	
</div> <!-- FOR FAQ-->	

{% endblock %}				
{% block scripts %}
      <script data-main="{{ asset('gamma/js/main.faq.js') }}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>
{% endblock %}