{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}

{% block header %}
<div id="wrapper" >
{% endblock %}

{% block body %}
	
	<div id="tagline" style="margin-top: 45px;font-size: 24px;color: white;">
		Zeega is an open-source HTML5 platform for creating interactive documentaries and inventing new forms of storytelling.<br><br> Zeega will make it easy to collaboratively produce, curate and publish participatory multimedia projects online, on mobile devices and in physical spaces. 
	</div>
	<br><br>
	<div id="sign-in" >
					<ul class="pill-buttons">
						<li><a id="sign-in" href="login">Sign In</a></li>
					</ul>
	</div>
			


{% endblock %}				
