

<link rel="icon" type="image/png" href="{{ asset('images/zeega.ico')}}">
<title>{% block title %}Zeega{% endblock %}</title>

<meta name="description" content="Zeega is a new form of interactive media, enabling anyone to express themselves by easily combining media from the cloud. Make the web you want.">
<meta name="keywords" content="zeega, interactive, gif, audio">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<!-- FB -->
<meta property="og:site_name" content="Zeega"/>
<meta property="og:title" content="Zeega"/>
<meta property="og:description" content="Zeega is a new form of interactive media, enabling anyone to express themselves by easily combining media from the cloud. Make the web you want."/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http:{{hostname}}"/>
<meta property="og:image" content="http:{{hostname}}images/zeega_fb.png"/>
<!-- END FB --> 


<!-- Twitter -->

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@zeega">
<meta name="twitter:title" content="Zeega">
<meta name="twitter:description" content="Zeegas are a new format of interactive media, enabling anyone to easily combine animated GIFs, audio, images, text and video from across the web. Make the web you want.">
<meta name="twitter:creator" content="">
<meta name="twitter:image:src" content="http:{{hostname}}images/zeega_twitter.png">
<meta name="twitter:domain" content="zeega.com">

<!-- End Twitter -->