; These parameters can be imported into other config files
; by enclosing the key with % (like %database_user%)
; Comments start with ';', as in php.ini
[parameters]
    database_driver   = pdo_mysql
    database_host     = 
    database_name     = 
    database_user     = 
    database_password =
	database_type     = pgsql

    mailer_transport  = smtp
    mailer_host       = localhost
    mailer_user       =
    mailer_password   =
	mailer_encryption = ssl

    locale            = en

    secret            = 

    hostname          = http://alpha.zeega.org/
    directory         = test/web/
    path			  = /var/www/web/
	web_directory	  = /var/www/
	
	solr_enabled	  = false
	solr_host         = localhost
    solr_port         = 8080
    solr_path         = /solr