.universe-toggle{
	display:none;
	padding:10px;
	span{
		color: white;
		padding: 3px 5px 3px 5px;
		margin-right: 10px;
		font-weight: bold;
		cursor:pointer;
	}
	span:hover{
		background-color: rgba(0, 255, 48, 0.75);
	}
	.selected{
		background-color: rgba(0, 255, 48, 0.75);
	}
	
}

#zeega-discovery-title {
	font-weight: bold;
	color: white;
	font-size: 2em;
	padding: 5px 10px;
	cursor: pointer;
	line-height: 1em;
}

.list-media {
	cursor: pointer;
}
.collection-title-wrapper{
	
	display:none;
	padding:10px;
	span{
		color:white;
		font-size:1.5em;
		
	}
	.collection-clear{
		color:red;
		position: absolute;
		right: 5px;
		top: 80px;
		cursor: pointer;
		font-weight:bold;
	}
}

.collection-options{
	padding-left:2px;
	cursor:pointer;
	opacity:0.7;

}

.collection-options:hover{
	opacity:1;
	
}

.collection-list-item{
	cursor:pointer;
}

