.universe-toggle{
	padding:10px;
	span{
		color: white;
		padding: 3px 5px 3px 5px;
		margin-right: 10px;
		font-weight: bold;
		cursor:pointer;
	}
	span:hover{
		background-color: rgba(0, 255, 48, 0.75);
	}
	.selected{
		background-color: rgba(0, 255, 48, 0.75);
	}
	
}

#zeega-discovery-title {
	font-weight: bold;
	color: white;
	font-size: 2em;
	padding: 5px 10px;
	cursor: pointer;
	line-height: 1em;
}