{% extends 'ZeegaDiscoveryBundle:Library:library.html.twig' %}

{% block filter %}


	<script>
			sessionStorage.setItem('filterType','collection');
			sessionStorage.setItem('filterId', {{ id }});
	
	</script>
	
	    
		<div class="row-fluid">
			<div id="jda-collection-filter-new" class="span9"></div>
		</div>

{% endblock %}