<dataConfig>
<dataSource driver="com.mysql.jdbc.Driver" url="jdbc:mysql://host/database?characterEncoding=UTF-8" user="" password="" batchSize="-1"/>
    <document>
        <entity name="item" query="select id,
										  description as description_i,
										  title as title_i,
										  user_id,
										  site_id,
										  text as text_i,
										  DATE_FORMAT(date_created,'%Y-%m-%dT%h:%m:%sZ') as date_created,
										  uri,
										  attribution_uri,
										  media_type,
										  layer_type,
										  thumbnail_url,
										  child_items_count,
										  media_creator_username,
										  archive,
										  media_geo_latitude,
										  media_geo_longitude,
										  DATE_FORMAT(media_date_created,'%Y-%m-%dT%h:%m:%sZ') as media_date_created,
										  DATE_FORMAT(media_date_created_end,'%Y-%m-%dT%h:%m:%sZ') as media_date_created_end
									from item">
		     <entity name="item_tags"
		             query="select tag_id from itemtags where item_id = ${item.id}">
			    <entity name="author"
						query="select name as tag_name from tag where id = ${item_tags.tag_id}">
		        </entity>
             </entity>        
		</entity>	
    </document>
</dataConfig>