{# src/Zeega/EditorBundle/Resources/views/Editor/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}



{% block body %}
	
<div id="faq" style='color:white; padding:10px;'> 


	<h1>FAQ</h1>


	<ul id='faq-list' class='unstyled'>

		<li>
			<div class="expander"><h3><a href='#'>this is the first FAQ question</a></h3></div>
			<div class="faq-content">
				<p class="">this is the faq answer</p>
				<img src="{{ asset('images/faq/media-in-editor.jpg') }}" width="475px" />
			
			</div>
		</li>
	
		<li>
			<div class="expander"><h3><a href='#'>this is the second FAQ question</a></h3></div>
			<div class="faq-content">
				<p class="">this is the faq answer</p>
			</div>
		</li>

	</ul>

</div> 
 

{% endblock %}				
{% block scripts %}
	<script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script data-main="{{ asset('js/loaders/main.faq.js') }}" src="{{ asset('js/lib/require-jquery.js')}}"></script>
{% endblock %}