
/******************************************

	MAP VIEW
	
*******************************************/
.geo{
	display: table;
}
.edit-geo-location{
	cursor:pointer;
	float: left;
	font-size: 11px;
	margin-right: 5px;
}

.locator-search-bar{
	display:none;
}
.locator-search-bar input{
	font-size:11px;
	height:auto;
	width:243px;
} 
.locator-map{

	width:250px;
	height:150px;
	display:none;
	border: 1px solid #CCC;
	margin-bottom:5px;
}
.map-title{
font-size: 1em;
font-weight: bold;
}

.item-lat-lng{
	display:none;
	color: #888;
	font-size: 10px;
}

.item-latitude, .item-longitude{

width: 40px;
padding: 3px;
overflow:hidden;

}

/******************************************

	END MAP VIEW 
	
*******************************************/


/*		temp fix		*/
		
ul,li
{
	list-style:none;
}

/******************************************

	ZEEGA BROWSER
	
*******************************************/

#browser-search
{
	width: 66%;
	float:left
}
#browser-search .visual_search{ margin-top:0 }

.browser-searchbar
{
	width: 345px;
	margin: 10px 0 0 10px;
	float: left;
}

#browser-item-count{


padding-right: 20px;
padding-top: 3px;
font-size: 18px;
float: right;

}

.collections-title-overlay
{
	overflow:hidden;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 5px;
	width: 132px;
	color: white;
	padding: 6px;
}

.collections-title-overlay .title
{
	font-weight:bold;
}

.browser-results-collection .menu
{
position: absolute;
top: 0;
padding: 8px 0;
right: 0;
background-color: rgba(255, 255, 255, 0.9);
display:none;
}

#browser-results-items, #browser-results-collections{
	min-height:200px !important;
	max-height:350px !important;
	overflow:auto !important;
	margin:0;
}
#browser-my-collections-label p{
	color:#FFF;
	font-size:18px;
	padding:7px 7px 3px 7px;
}

#browser-toggles ul{ margin-bottom:0; border-bottom:none;}

#browser-toggles .nav-tabs >.active>a,
.nav-tabs>.active>a:hover
{
	background: #555;
	color: white;
	border: 1px solid #555;
}

#browser-toggle-all-media-vs-my-media .tab{
	color:#FFF;
	background:#555;
	padding:7px;
	display:inline-block;

	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid #555;
	border-bottom:none;
}
#browser-toggle-items-vs-collections{
	position: relative;
	left: 30px;
	color: #CCC;
	display: inline;
	top: 20px;	
}
#browser-toggle-items-vs-collections ul{
	list-style:none;
}
#browser-toggle-items-vs-collections li{
	color:#FFF;
	padding:7px;
	display:inline-block;

	
}
#browser-collection-filter-tab-text form{
	display:inline;
	background: transparent;
	border: none;
	font-size: 16px;
	color: white;
	letter-spacing: 1px;
}
#browser-collection-filter-tab{
	position:relative;
	top:0;
	left:0;
}
#browser-collection-filter-tab img{
	width: 15px;
	height:15px;
	margin: 0 0 -3px 0;
	padding: 0 5px;
}
.browser-collection-edit-menu{
	position: absolute;
	top: 1px;
	left: 23px;
	width: 130px;
	-webkit-box-shadow: 2px 2px 2px 2px #333;
	-moz-box-shadow: 2px 2px 2px 2px #333;
	box-shadow: 2px 2px 2px 2px #333;
	z-index:100;
	display:none;
	color: #F15A29 !important;
	background-color: #444 !important;
}
#browser-collection-filter-edit-menu{
	position: absolute;
	top: 22px;
	left: 125px;
	width: 130px;
	-webkit-box-shadow: 2px 2px 2px 2px #333;
	-moz-box-shadow: 2px 2px 2px 2px #333;
	box-shadow: 2px 2px 2px 2px #333;
	z-index:100;
	display:none;
}
#browser-collection-filter-edit-menu li, .browser-collection-edit-menu li{
	
	padding: 3px 5px;
	border-bottom: 1px solid #333;
	background-color: rgba(255, 255, 255, 0.8);
}

#browser-my-collections-wrapper{
	margin-bottom:20px;
}
#browser-my-collections{
	
	padding:0 !important;
	-webkit-box-shadow: inset 2px 2px 2px 2px #333;
	-moz-box-shadow: inset 2px 2px 2px 2px #333;
	box-shadow: inset 2px 2px 2px 2px #333;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 10px 10px 10px 10px !important;
	border-radius: 10px 10px 10px 10px;
	height:130px;
	overflow:hidden !important;
	
}


.browser-my-collection img{
	padding:3px;
	padding-right:0;
	
}
 .browser-my-collection p {
 	
	width: 80%;
	color:#EEE;
	background: rgba(0, 0, 0, 0.2);
	padding:3px 3px 3px 10px;
	line-height: 12px;

	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 0px 0px 10px 0px;
	border-radius: 0px 0px 10px 0px;
	white-space:normal;
	
}

#browser-search-filter-toggle
{
	padding:12px;
	margin: 0;
	background:#555;
	border: 1px solid #555;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 0px 10px 0px 0px !important;
	border-radius: 0px 10px 0px 0px;
	
	height:30px;
}

#browser-search-filter-toggle #searchbar{float:left;}


#browser-toggle-all-media-vs-my-media{
	float:left;
	
}
#browser-toggle-all-media-vs-my-media ul{
	margin-left:0;
}
#browser-results-wrapper{
	position:relative;

}
#browser-no-items-results-message,#browser-no-collections-results-message,#browser-no-results-my-media-message {
	font-size:140%;
	color:#CCC;
	padding:20px;
	display:none;
}

#browser-my-collections-drawer{
	margin:5px 0 0 10px;
	
	
}
.browser-results-image,.browser-results-collection{

	float: left;
	margin: 0;
	border-radius: 3px;
	/*margin:10px 0px 0px 10px;*/
	margin:4px;
	padding: 5px;
	width:  149px;
	height: 114px;
	text-align: center;
	vertical-align:center;
	background-color: rgba(0, 0, 0, .5);

	
	
}
.browser-results-image-edit{
		display:none;
		background-color: rgba(0, 0, 0, .5);
		position: relative;
		top: -30px;
		left: 0px;
		z-index: 100;
		border-top: 1px rgba(0, 0, 0, .8) solid;
		height: 15px;
		font-size: 11px;
		font-family: Helvetica, sans-serif;
		letter-spacing:1px;
		padding:7px 5px;
	
}
.browser-results-image-edit a, #browser-collection-filter a, .browser-collection-edit-menu a{
	text-decoration:none !important;
}

.browser-remove-from-collection{
	float:right;
}
.browser-change-thumbnail{
	float:left;
}
.browser-results-collection, #browser-show-more-results{

	text-align: left;
	
}

.browser-results-collection a, .browser-results-image a,{
	
	border:none;
	text-decoration:none;
}

#browser-show-more-results{
	border:1px solid #777;
	text-align:center;
	
	height:107px;
	display:none;
}
#browser-show-more-results:hover{
	background-color:#777;
	cursor:pointer;
}
#browser-show-more-results a{
	
	font-size:90%;
	
	text-decoration:none;
	position:relative;
	top:44px;
}

#browser-create-new-collection{
	background-color:#555;
	width:164px;
	padding:10px 0 10px 10px;
	float:left;
	-webkit-box-shadow: 3px 0px 2px 0px #333333;
	-moz-box-shadow: 3px 0px 2px 0px #333333;
	box-shadow: 3px 0px 2px 0px #333333; 

}
#browser-collection-filter{
	-webkit-box-shadow: inset 1px 1px 1px 1px #444;
	background:#666;
	padding:5px 4px 4px 4px;
	color:#fff;
	margin-left:20px;
	float:left;
	display:none;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	letter-spacing:1px;
	width:450px;
}
#browser-remove-collection-filter{
	margin-right:5px;
	margin-left:5px;
	font-weight:bold;
}

#browser-collection-filter-title{
	margin-right:5px;
	font-size:16px;
}
#browser-update-collection-title, .browser-form input
{
	background:transparent;
	border:none;
	font-size:13px;
	color:#fff;
	
}
.modal-form input
{
	background:transparent;
	border:none;
	
}
.modal-header{
	border-bottom:0;
}
.modal-header h3{
	padding-top:5px;
	height:44px;
	font-size:1.6em;

}
.modal-header .close{
	opacity:1.0;
}
.modal-header .close:hover{
	color:#404040;
}
.collection-modal-title{
	font-size:1.5em;
}

.browser-add-item-to-collection-hover, .browser-results-collection:hover{
	background-color:#F15A29 !important;
	

}
.browser-create-new-collection-hover{
	background-color:#888 !important;

}
#browser-create-new-collection .browser-my-new-collection{
	border:dashed 1px #666;
	background: rgba(0, 0, 0, 0.2);
	width:144px;
	height:110px;
	

}

#browser-create-new-collection .browser-my-new-collection p{
	
	color:#EEE;
	text-align:center;
	width:120px;
	padding:35px 3px 3px 10px;
	line-height: 16px;	
	background-color:none;
	font-size:80%;
	
	white-space:normal;
}
#browser-view-more-item-results, #browser-view-more-collection-results{
	float:left;
	text-align: center;
	border: 1px solid #777;
	width: 144px;
	height: 110px;
	padding: 5px;
	margin: 5px;

	background: #555;
	display:none;
}
.browser-load-more-results{
	position:relative;
	top:45px;
}

#browser-view-more-item-results:hover, #browser-view-more-collection-results:hover{
	background:#777;
}
.browser-results-collection{
	width:144px;
	float:left;
	position:relative;

}
.browser-results-collection p
{
	position:relative;
	top: -108px;
	left: 0;
	width: 80%;
	color:#EEE;
	background: rgba(0, 0, 0, 0.5);
	padding:3px 4px 1px 4px;
	line-height: 12px;

	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.browser-results-collection p .title{
	font-size:11.5px;
	white-space:normal;

}

.browser-item-count, .duplicate-item{
	font-size:9px;
}
.duplicate-item{
	display:none;
	color:#F15A29;
	font-weight:bold;
}
.browser-img-small{
	
	width:  58px;
	height: 50px;

}
.browser-img-medium{
	
	width:  88px;
	height: 70px;

}
.browser-img-large{
	
	width:  144px;
	height: 110px;
	/*
	max-width:  144px;
	max-height: 110px;
	*/

}

.browser-selected-toggle:hover{
	cursor:default;
}
#browser-close-timeline, #browser-open-timeline, #browser-open-in-editor{
	
	margin: 18px 18px 0 30px;
	float: right;
}
#browser-close-timeline, #browser-open-timeline, #browser-open-in-editor{
	display:none;
}
#browser-time-filter{
	
	margin: 0 15px;
	display:none;
	
	padding: 20px 26px;
	-webkit-border-radius: 6px;
	background: #666;
	-webkit-box-shadow: inset 1px 1px 1px 1px #444;
}
#browser-time-filter p{
	font: 1.5em Helvetica,sans-serif;
	color: #EEE;
	margin: 0 0 30px 0;
	letter-spacing: 1px;
}
.browser-time-bins{
	margin-top:40px;
	font-size:10px;
	border:1px solid #777;
}
.browser-time-bins a{
	color:#EB8F00;
}
.browser-time-bins a:hover{
	text-decoration:none;
	color:#fff;


}
.browser-time-bins td{
	background:#666;
}
.browser-time-bins td:hover, .browser-time-bins .selected{
	background:#999;
	cursor:pointer;
	
}
.browser-time-bins .selected{
	background:#999;
	cursor:default !important;
	color:#FFF !important;
}
.browser-time-bins thead{
	background:#999;
}
.browser-time-bins tbody{
	font-size:12px;
	color:#efefef;
}
.browser-time-bins td, .browser-time-bins th{
	width:10%;
	text-align:center;
	padding:4px;
	border-left:1px solid #777;
	border-right:1px solid #777;
}
#browser-right-sidebar{
	position:relative;
	
	background-color:#555;
	top: 0px;
	float:right;
	width: 530px;
	height: 350px;
	-webkit-box-shadow:  2px 2px 2px 2px #333;
	-moz-box-shadow:  2px 2px 2px 2px #333;
	box-shadow:  2px 2px 2px 2px #333;
	display:none;
}
#browser-form-search{
	margin:10px;
}
.browser-loading{
	margin:45px 60px;
	float:left;
}

#browser-results-collections{
	display:none;

}

.corner-triangle-for-menu {
        width: 0;
		height: 0;
		border-left: 20px solid transparent;
		
		border-top: 20px solid #F15A29;
		position: relative;
		top: -32px;
		left: -14px;
		
		opacity: 0.8;
		z-index:80;
}
.corner-triangle-for-menu:hover{
	text-decoration:none !important;
	border-bottom:0 !important;
		
}


#user-add {
	display: none;
	position: absolute;
	z-index:1000;
	left:30%;
	width:40%;
	background-color: gray;
	padding:10px 10px 10px 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

#new-user-add>div
{
}

#site-add {
	display: none;
	position: absolute;
	z-index:1000;
	left:30%;
	width:40%;
	background-color: gray;
	padding:10px 10px 10px 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

.admin-form form {
	overflow: hidden;
	clear: both;
	width: 400px;
}
.admin-form label{
	color: #333;
	clear: left;
	float: left;
	width: 41%;
	padding-right: 2%;
	height: 1em;
	margin-bottom: 10px;
	
	text-align: right;
}
.admin-form input{
	float: left;
	
	margin-bottom: 15px;
}
#password-change{

	position: absolute;
	z-index:10000;
	left:30%;
	width:40%;
	background-color: gray;
	padding:10px 10px 10px 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;

}


body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited 
{
	color: #f15a29;
	text-decoration: none;
}
a:hover 
{
	color: #036;
	text-decoration:underline;
}

a.white:hover 
{
	color: white;
	text-decoration:underline;
}

/*****************************

	SPRITES

*****************************/

.zicon
{
	display:block;
	overflow:hidden;
	height:18px;
	width:18px;
	background-image:url('../images/zicons-grey-18.png');
	background-repeat: no-repeat;
}

.zicon.orange{background-image:url('../images/zicons-orange-18.png')}
.zicon.grey{background-image:url('../images/zicons-grey-18.png')}
.zicon.darkgrey{background-image:url('../images/zicons-darkgrey-18.png')}


.zicon-advance{background-position: -130px -369px}
.zicon-expand{background-position:-65px -199px}
.zicon-collapse{background-position:-97px -199px}
.zicon-play{background-position:-34px -313px}
.zicon-edit{background-position:-65px -313px}
.zicon-refresh{background-position:-65px -256px}
.zicon-search{background-position:-291px -284px}
.zicon-visible{background-position:-97px -29px}
.zicon-list{background-position: -226px -369px}
.zicon-grid{background-position: -192px -369px}
.zicon-item{margin-left: 2px;margin-top: 4px;}
.zicon-settings{background-position:-291px -312px}
.zicon-gear{background-position:-259px -312px}

.zicon-vert-drag{background-position:-65px -1px}


.zicon-close{background-position:-162px -284px}






.socialmedia-icon
{
	
	overflow:hidden;
	height:33px;
	width:33px;
	background-image:url('../images/socialmediaicons.png');
	background-repeat: no-repeat;
	
}
[class^="socialmedia-icon-"]
{
	display: inline-block;
	width: 33px;
	height: 33px;
	vertical-align: text-top;
	background-image:url('../images/socialmediaicons.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	margin-top:5px;
}

.socialmedia-icon-facebook{background-position:-81px -56px}
.socialmedia-icon-facebook:hover{background-position:-81px -16px}
.socialmedia-icon-twitter{background-position:-122px -56px}
.socialmedia-icon-twitter:hover{background-position:-122px -16px}
.socialmedia-icon-tumblr{background-position:-311px -56px}
.socialmedia-icon-tumblr:hover{background-position:-311px -16px}
.socialmedia-icon-googleplus{background-position:-274px -134px}
.socialmedia-icon-googleplus:hover{background-position:-274px -96px}



/*********************************************

	ZEDITOR STYLES BELOW
	
**********************************************/


/*********************************************

	FONTS
	
***********************************************/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('http://themes.googleusercontent.com/font?kit=zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0') format('woff');
}

#sequence-title, #sequence-title input  { font-family: 'Montserrat', sans-serif }

/*******************************

	PRIMARY BLOCKS
	
*******************************/

body
{
	background: #333;
}

#wrapper
{
	position:relative;
	width:1004px;
	padding:0 10px;
	margin:0 auto;
	margin-top:45px;
}

#sidebar
{
	width:294px;
	min-height:394px;
	float:left;
	margin-right:6px;
}

#edit-drawer
{
	float:left;
}

#editor
{
	position:relative;
}

#sequence-title input
{
	height:1em;
	width:690px;
}

/*******************************

	HELP STYLES
	
*******************************/

.help-controls
{
	padding:3px;
	float:right;
}
.help-controls .btn
{
	margin-left:12px;
}

.popover .inner.help{box-shadow:0 0 12px orange;}



/*******************************

	LIST STYLES
	
*******************************/

.horizontal-list>li{ float:left }
.horizontal-list>li+li{ margin-left:6px }
.expandable{ cursor:pointer }


/*
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
*/


/********************************

	DROPDOWN MENUS

**********************************/

.menu-toggle
{
	position:relative;
	top:4px;
}
.menu-items
{
	color:#444;
	display:none;
	background:rgba(255,255,255,0.9);
	position:absolute;
	padding:6px;
	border-radius:6px;
	box-shadow:6px 6px 6px rgba(0,0,0,0.5);
}
.menu-items.open { display:inline; z-index:10 }
.menu-items .menu-title { color: #444 }
.menu-items .divider { border-bottom:1px solid #ddd }

/*		quirks for the search bar dropdown	*/
#search-filter { float :left }
#search-filter .zicon-searchdropdown { position:relative;top:4px;}

/*		quirks for browser		*/
.collections-menu{position:absolute;top:0;right:0;}
.collections-menu .menu-items{ top: 0;right:0;}
.browser-results-collection .menu-items a:hover{
	color:#666 !important;
}
/*******************************

	panels
	
	the modular elements found in the editor
		
	standard panel diagram:
	
	-------------------------------------
	| PANEL HEAD			(icon tray)	|
	-------------------------------------
	-------------------------------------
	| (panel content)					|
	|									|
	|									|
	-------------------------------------
	
*********************************/

.panel
{
	clear:both;
	margin-bottom:12px;
}
.panel .panel-head
{
	background: none;
	padding: 6px;
	border : none;
}
.panel.flat .panel-head
{
	-webkit-border-radius: 6px;
	background: #222;
	padding: 6px;
	border : 1px solid #111;
}

.panel-head .icon-tray{ float:left }
.panel-head .info{ float:right }

.panel-head
{
	color:rgba(255,255,255,0.65);
	font-size:18px;
}

.panel-head+div { margin:6px 0 }

.panel-head li{color:rgba(255,255,255,0.65)}
.panel.raised .panel-head
{
	-webkit-border-radius: 6px;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
	padding: 6px;
	border : 1px solid #111;
}

.panel.tray
{
	-webkit-border-radius: 6px;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
	padding: 6px;
	border : 1px solid #111;
}
.panel.raised.tray .panel-head
{
	padding: 0;
	background:none;
	border:none;
}

.inset-tray h1,.inset-tray h2,.inset-tray h3,.inset-tray h4{ color:inherit }

.panel-content input,.panel-content label { float:none }

/*	panel clearfixes	*/
.panel:before,
.panel:after,
.panel-head:before,
.panel-head:after,
.panel-content:before,
.panel-content:after
{ content: "\0020"; display: block; height: 0; overflow: hidden; }
.panel:after,
.panel-head:after ,
.panel-content:after 
{ clear: both; }
.panel,
.panel-head,
.panel-content
{ zoom: 1; }


/*******************************

	TRAYS
	
*******************************/
.inset-tray
{
	padding:6px;
	border:1px solid ;
	-webkit-border-radius: 6px;
}
.inset-tray
{
	background:#ddd;
	-webkit-box-shadow: inset 5px 5px 5px #888;
	border-color:#999;
}
.inset-tray.dark
{
	color:#ddd;
	background:#444;
	-webkit-box-shadow: inset 5px 5px 5px #222;
	border-color:#666;
}
.inset-tray.dark label{ color:inherit }

/*	tray clearfixes	*/
.inset-tray:before,
.inset-tray:after
{ content: "\0020"; display: block; height: 0; overflow: hidden; }
.inset-tray:after
{ clear: both; }
.inset-tray
{ zoom: 1; }


.tray.closed
{
	display:none;
}


/*******************************

	LAYERS -- these could be panels?  .panel.tray.raised.light ??
	
*******************************/

#layers-list-visual>li
{
	min-height:25px;
	background:#555;
	margin:1px 0;
	padding: 6px;
	-webkit-border-radius: 6px;
	overflow:hidden;
	-webkit-box-shadow : inset 3px 3px 3px #666;
}

.layer-icon
{
	width:25px;
	float:left;
}

.layer-title
{
	color: #ddd;
	font-weight: bold;
	width: 172px;
	overflow:hidden;
	float:left;
	cursor:pointer;
	white-space : nowrap;
	text-shadow : 0 1px 1px rgba(25, 25, 25, 0.75);
}

.layer-drag-handle
{
	width:40px;
	float: right;
	cursor:move;
}

.copy-to-next
{
	clear:both;
}

.layer-uber-bar div { padding : 3px }
.layer-uber-controls, .layer-drag-handle span { float:left }

.standard-layer-controls label {width:100%;}


/******************************

	FRAMES
	
*******************************/

.frame-thumb
{
	height:50px;
	width:50px;
	background:#ccc;
	cursor:move;
	box-shadow : 0 0 12px #333;
	-webkit-transition: box-shadow .25s linear;
	transition: color .25 linear;
	border-radius:3px;
}
.frame-thumb.active-frame
{
	box-shadow: 0 0 12px yellow;
	-webkit-transition: box-shadow .25s linear;
	transition: color .25 linear;
	
	/* border-bottom: solid red 5px */
}

.frame-thumb.frame-item-hover
{
	box-shadow : 0 0 12px white;
	-webkit-transition: box-shadow .25s linear;
	transition: color .25s linear;
}

#frame-list
{
	margin-left: -5px;
	height: 50px;
	display:inline;
}
#frame-list>li{ margin-left : 12px  }
#frame-list>li:nth-child(16n+1){ margin-left : 0  }
#frame-list li {margin-bottom:12px;}


#add-frame
{
	float:left;
	padding:10px 17px;
}

#frame-drawer, #browser-my-collections
{
	white-space:nowrap;
	background:#eee;
	background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#666));
	border-radius: 6px;
	
	box-shadow : none;
	-webkit-transition: box-shadow .25s linear;
	transition: color .25s linear;
	
	
	margin-bottom:6px;
	padding:12px 12px 0 12px;
	overflow:hidden;
}

#frame-drawer.target-focus
{
	box-shadow : inset 0 0 12px rgba(255,255,255,0.5);
	-webkit-transition: box-shadow .25s linear;
	transition: color .25s linear;
}
#frame-drawer.hover
{ 
	box-shadow : inset 0 0 12px rgba(136,182,49,0.9);
	-webkit-transition: box-shadow .25s linear;
	transition: color .25s linear;
}

#visual-editor-workspace.target-focus
{
	box-shadow : 0 0 12px rgba(255,255,255,0.75);
	-webkit-transition: box-shadow .25s linear;
	transition: color .25s linear;
}


.frame-update-overlay
{
	display:none;
	background-image:url('../images/stripes.png');
	height:50px;
	width:50px;
	opacity: 0.6;
	position:absolute;
}


/*******************************

	LAYER CONTROLS
	
*******************************/

.layer-control { margin:12px 0 }

.control
{
	padding: 6px 0;
}

default-layer-control
{
	padding-top: 12px;
}

.map
{
	width : 268px;
	height : 233px;
}

.farbtastic { margin : 0 auto }



/*******************************

	DATABASE TAB
	
*******************************/
.linked-layer{cursor:pointer;}
.linked-layer>:first-child{ margin-bottom:-4px; }
.linked-layer
{
	box-shadow: 0 0 12px transparent;
	-webkit-transition: box-shadow .5s linear;
}
.linked-layer:hover
{
	box-shadow: 0 0 12px white;
	-webkit-transition: box-shadow .25s linear;
}
.link-blink
{
	box-shadow: 0 0 24px white;
	-webkit-transition: box-shadow 1s linear;
}


/*******************************

	DATABASE TAB
	
*******************************/


#item-view-bar div
{
	float:none;
	margin-bottom:6px;
}

.visual_search
{
	margin-top: 10px;
}

.VS-search .VS-icon-search{ width:20px;}
.VS-search .VS-search-inner{ margin-left:30px;}
.VS-icon.VS-icon-search{  cursor:pointer;}

.filter-list
{
	position:absolute;
	padding:8px 0;
}

#database-item-list
{
	height : 275px;
	overflow : hidden;
	overflow-y : scroll;
	background : #ddd;
	border-radius: 6px;
	box-shadow : inset 5px 5px 5px #888;
	border : 1px solid #999;
}

#form-left
{
	-webkit-border-radius: 6px 0 0 6px;
	background:#bbb;
	float:left;
	height:24px;
}

#form-right
{
	float:left;
}

#database-search-button
{
	background: #DDD;
	border: none;
	margin: 0;
	height: 24px;
	-webkit-border-radius: 0 6px 6px 0px;
	cursor: pointer;
	background-image: -webkit-linear-gradient(top, #62c462, #57a957);
	color: white;
	width: 42px;
	font-size: 1em;
}

#db-nav-controls
{
	overflow:hidden;
	margin:10px 0;
}

#db-nav-controls span
{
	float:left;
}

#database-collection-filter
{
	width:168px;
	float:right;
}

#tab-database-slide-window
{
	width:100%;
	margin-top: 10px;
}

.slider
{
	width:100%;
}

.list-view  li
{
	padding:0px 6px;
	overflow:hidden;
	border-bottom : 1px solid #888;
	font-size : 12px;
	cursor : move;
}
.list-view li img
{
	float:left;
	margin: 0 6px;
	height : 30px;
	width : 30px;
}
.list-view li span
{
	vertical-align:middle;
}

.list-view .show-in-list-view
{
	display : block;
	float:left;
}

.grid-view li
{
	padding : 6px;
	cursor : move;
	float : left;
}

.grid-view li img
{
	background :#333;
	height : 54px;
	width : 54px;
}

.grid-view .show-in-list-view
{
	display : none;
}


.item-title
{
	float:left;
	color:#333;
	padding:6px 0;
	max-width:160px;
	white-space:nowrap;
	overflow:hidden;
}

.item-meta
{
	color:#666;
	float:right;
	margin-right:5px;
	margin-top: 5px;
	width:72px;
	overflow:hidden;
	white-space:nowrap;
}

#asset-preview
{
	z-index:50;
	position:absolute;
	background:black;
	height:343px;
	padding :10px;
	color:white;
	width:374px;
	display:none;
	top: 69px;
}

.meta-author
{
	color:#666;
}


/*******************************

	HEADER
	
*******************************/

.navbar-inner
{
	height: 40px;
}

/*******************************

	ROUTE HEADER
	
*******************************/

#sequence-header
{
	color:#eee;
	margin : 10px 0;
	height:38px;
}

#sequence-title
{
	float:left;
	font-size:2.5em;
	width:700px;
	border:1px dotted #666;
	-webkit-transition: border .25s linear;
	height: 1.3em;
	line-height: 42px;
	background-color:#333;
}

#sequence-title:hover
{
	border:1px dotted #ddd;
	-webkit-transition: border .25s linear;
}

#sequence-actions
{
	top:5px;
}

#sequence-cover-image
{
	background-color: #222;
	width: 54px;
	height: 42px;
	float: left;
	margin-right: 5px;
	border: 1px solid #444;
	border-radius: 3px;
	background-size:54px 42px;
	background-repeat:no-repeat;
}


/*******************************

	SIDEBAR
	
*******************************/







/*******************************

	MODALS
	
*******************************/

.modal
{
	postion:absolute;
	top:375px;
}






/*******************************

	Controls Toolbox
	
*******************************/

.color-window
{
	position:relative;
	height:36px;
	width:36px;
}

.color-preview
{
	position:absolute;
	top:4px;
	left:4px;
	height:28px;
	width:28px;
	
	background:url('../images/color-select.png') center;
}


/*******************************

	WORKSPACE
	
*******************************/

#workspace-wrapper
{
	width:704px;
	float:right;
	position:relative;
}

#workspace-outer-wrapper
{
	width:704px;
	height:469px;
	margin: 6px 0;
	border: 1px dotted #444;
}

#visual-editor-workspace
{
	height:100%;
	width:704px;
	background:#000;
	overflow:hidden;
	position:relative;
	margin:0 auto;
}

.workspace-item-hover
{
	outline:2px solid yellow;
}

#frame-advance
{
	-webkit-border-radius: 0 0 4px 4px;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#555));	
}

.text-editing
{
	border:1px dotted red
}

.text-non-editing
{
	border:1px dotted white
}

.layer-text #zedit-target:focus{ outline :none }

/******************************

	PREVIEW WINDOW
	
******************************/

#preview-wrapper
{
	width:100%;
	height:100%;
	background:#000000;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	display:none;
	z-index:10000;
}

#preview-media
{

	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

#preview-logo
{
	opacity:0.5;
	position:absolute;
	padding:6px;
}

.player-overlay
{
	z-index : 1000;
}

#preview-close
{
	position:absolute;
	right:12px;
	top:12px;
}

.player-arrow
{
	height: 15%;
	max-height: 75px;
	max-width: 35px;
	margin: 0 10px;
}

#citation
{
	background:rgba(0,0,0,0.4);
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:24px;
	overflow:hidden;
	z-index:10001;
}
#citation ul
{
	height:100%;
	float:left;
}
#citation ul li
{
	float:left;
	background:rgba(0,0,0,0.4);
	margin:1px;
	padding:2px;
	height: 100%;
}
.citation-tab
{
	width:16px;
	height:100%;
	float:left;
	cursor:pointer;
}


.citation-title
{
	clear:both;
	margin-bottom:12px;
	margin-right:6px;
	color:rgba(255,255,255, 0.75);
	height: 37px;
	width: 100%;
	text-align:justify;
	overflow:hidden;
}

.citation-body
{	
	font-size:11px;
	float:right;
	width:168px;
	margin-right:6px;
	
}
.citation-thumb
{
	height:60px;
	width:60px;
	background:blue;
	float:left;
	margin-bottom:6px;
	margin-left:6px;
}
.citation-content
{			
	margin-top:21px;
	width:250px;
	hieght:100px;
	float:left;
}
.citation-metadata
{
	
	
	width: 100%;
	text-align:left;
	
}
#hide-citation
{
	float:left;
}


/*******************************

	CONTROLS STYLES
	
*******************************/

.ui-slider .ui-slider-handle
{
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 3px 3px 3px #333;
	height:15px;
	width:5px;
}

.ui-slider-horizontal
{
	height:3px;
	border:none;
	background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#444));
}

.ui-slider-horizontal .ui-slider-handle
{
	top:-.5em;
	margin-left: -0.2em;
}

.layer-slider-div
{
	padding:5px;
	margin:10px 10px 10px 10px;
}

.controls
{
	
}

.interaction-instructions
{
}
.controls textarea
{
	width:100%;
	resize:vertical;
	margin:10px 0;
}

.twilio-table
{
	position:relative;
	width:100%;
}

.item-drop
{
	width:100%;
	border:2px dashed #ccc;
	-webkit-border-radius: 8px;
	margin:10px 0;
}

.interactive-drop-hover
{
	border:2px dashed yellow;
}

#drop-content
{
	padding:10px;
}

td
{
	min-width:20px;
}

td+td
{
	width:100%;
}


.preview-nav
{
	z-index:1000;
}

.preview-nav-arrow
{
	position:absolute;
	top:50%;
	padding:10px;
	margin:10px;
	opacity:0.4;
	-webkit-border-radius: 8px;
}

.preview-nav-arrow:hover
{
	opacity:1;
	background:rgba(255,0,0,.25);
}

#preview-right
{
	right:0;
}

#preview-left
{
	left:0;
	float:left;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}



#tab-layers,
#tab-database
{
	padding:0;
	margin:0;
}


.fullscreen-submit
{
	float: left;
	margin-top: 10px;
	width:100%;
}

.float-left
{
	float:left;
}

.float-right
{
	float:right;
}



#frame-drawer ul li:hover
{
}

#database-search
{
	color:#ccc;
}


/****************************

	LOADER
	
****************************/

.load-wrapper
{
	position:absolute;
	top:150px;
	color:#aaa;
	width:100%;
}

.loader
{

	width:100%;
	height:2px;
	background:rgba(255,255,255,.25);
}

.progress
{
	background:red;
	width:0%;
	height:100%;
	box-shadow: 0 0 10px white;
}


/*
#loading-container
{
	height:2px;
	width:100%;
	border:1px solid #333;
	position:absolute;
	top:15%;
	
	z-index:999;
}

#progress-bar
{
	background:red;
	height:100%;
	width:0;
}

#layer-status ul li
{
	color: white;
	margin-left: 10px;
}
*/
.ghost-frame
{
}


/*

FAKE STUFF

*/





.ui-draggable-dragging
{
	z-index : 1000;
	width : 150px;
}

	


/*
---------------------------------
	Text-Layer Styles
	(Temporarily here until
	individual CSS files load)
---------------------------------
*/

.text-layer-content i {
		    font-style: italic;
}

.text-layer-content b {
		    font-weight: bold;
}


/* 
---------------------------------
Media Player and Controls
---------------------------------
*/ 

/*TIME_LEF*/

.timeLEF {

position: relative;
border: 1px dotted #999;
height: 135px;
}

#volumeMP {

position: absolute;
top: 80px;
width: 100%;

}


#avStart {

position: absolute;
margin-top: 4px;

left: 10px;
}

#avStop {

position: absolute;

left: 125px;
margin-top: 4px;

}




#avStartMinutes {

font-weight: bold;
padding-left: 10px;
padding-right: 2px;
color: white;
width:25px;	
text-align:right;
}

#avStartSeconds {

font-weight: bold;
padding-left: 2px;
padding-right: 10px;
color: white;
width:25px;	
text-align:left;
}


#avStopMinutes {

font-weight: bold;
padding-left: 10px;
padding-right: 2px;
color: white;
width:25px;	
text-align:right;
}

#avStopSeconds {

font-weight: bold;
padding-left: 2px;
padding-right: 10px;
color: white;
width:25px;	
text-align:left;
}


#durationWrapper{
font-weight: bold; 
position: absolute;
margin-top: 4px;
left:10px;
display: none;


}

#avControls{
position: absolute;
margin-top: 4px;
top:5px;
width:278px;

}
#avVolumeWrapper{
position: absolute;
margin-top: 4px;
top:65px;

}

#avVolumeLabel{
position:absolute;
left: 10px;
}

#avVolumeSlider {

position:absolute;
width: 145px;
left: 65px;

}

#mediaPlayerMP { 

position: absolute;
bottom: 60px;
left: 0px;
right: 0px;
width: 100%;
height: 40px;
padding: 0;
margin: 0;
z-index: 50;


}


#playMP {

position: absolute;
top: 10px;
left: 10px;
cursor:pointer;
}

#playMP:hover {

border-left-color:red;
border-right-color:red;

}

#audioButton:hover {
cursor:pointer;

}

.playButtonMP {

width: 0;
height: 0;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-left: 10px solid white;
cursor: pointer;

}



.pauseButtonMP {

position: absolute;
width: 5px; 
height: 20px; 
border-top: 0px; border-left: 3px solid rgba(255,255,255,.8); border-bottom: 0px; border-right: 3px solid rgba(255,255,255,.8);
cursor: pointer;

}

#loadingOutsideMP {

position: absolute;
top: 16px;
left: 32px;
right: 55px;
background-color: rgba(0,0,0,.8);


}


#loadingInsideMP
{
	position: absolute;
	background-color: #666;
	background-image: url('../images/stripes.png');
	background-size:22px;
	opacity: 1;
	width:0px;
	height: 10px;
}

#loadingStatusMP {

background-color: white;
opacity: .2;
width:0px;
height: 10px;

}

#timeWrapperMP {

position: absolute;
bottom: 10px;
right: 5px;
height: 15px;
width: 35px;
border-radius: 5px;
-moz-border-radius: 5px;
color: white;
font-size: 10px;

}

#loadingCircleMP {

position: absolute;
width: 14px; height: 14px; 
background-color: black;
border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px;
z-index: 10;
}

#loadingMP {
 

color:grey; 
position: absolute;
width: 100%;
height: 100%;
background-color: #E6E6E6;
z-index: 60;
}

#loadingMP p {
font-weight:bold; 
font-size:16px;
padding: 8px 8px 8px 8px;
}
.markerMP{
position: absolute;
cursor:pointer;
height: 10px;
width:2px;
}


#startMP{


left:0px;
top:0px;
background-color:green;
z-index:21;
}

#stopMP{


right:0px;
top:0px;
background-color:red;
z-index:22;

}

.bar{

width:10px;
height:3px;
position:absolute;
top:-13px;
left:-4px;
background-color: yellow;
z-index:25;
display:none;
}

#currentMP{

border-color:red;
left:0px;
top:0px;
height:20px;
background-color:white;
z-index:22;

}


#startBar{

position:absolute;
left:0px;
height:10px;
z-index:10;
background-color:black;
opacity:0.6;
width:0px;

}


#stopBar{

position:absolute;
right:0px;
height:10px;
z-index:10;
background-color:white;
opacity:0.4;
width:0px;

}

#startMP .arrow-down {
  position:absolute;
  width:0px; 
  height:0px;
  left:-4px;
  top:-9px;
  
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:10px solid green;
  font-size:0px;
  line-height:0px;
}

#stopMP .arrow-down {
  position:absolute;
  width:0px; 
  height:0px;
  left:-4px;
  top:-9px;
  
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:10px solid red;
  font-size:0px;
  line-height:0px;
}


div.box{


  position:absolute;
  width:8px; 
  height:8px;
  left:-3px;
  bottom:-2px;
  background-color:white;
}

div.arrow-up {
  position:absolute;
  width:0px; 
  height:0px;
  left:-4px;
  bottom:-9px;
  width:0px; 
  height:0px; 
  border-left:5px solid transparent;  /* left arrow slant */
  border-right:5px solid transparent; /* right arrow slant */
  border-bottom:10px solid red; /* bottom, add background color here */
  font-size:0px;
  line-height:0px;
}

/************************** 
 *      Text layer        *
 **************************/
div#workspace > div.text-layer-container {
	      padding:5px;
	      border:transparent solid 1px;
	      border-top:transparent solid 10px;
}



/***  PAGINATION  ***/



#database-pager {
	margin-top: 10px;
}

#database-pager a:hover
{
	color:#ddd;
	text-decoration:none;
}

.pager-page
{
	padding: 2px 8px;
	margin: 0 3px;
	background: #666;
	-webkit-border-radius: 9px;
	color: #ddd
}

.pager-page:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#666));
	color:#ccc;
}

.disabled
{
	color:#666;
}

.fill
{
	color:#ddd;
}

#database-pager .first,
#database-pager .last,
#database-pager .next,
#database-pager .prev
{
	padding: 2px 8px;
	margin: 0 3px;
}

.pager-page.current
{
	background:#ddd;
	color:#444;
}


#leftPageScroll {

margin-top: 10px;
float: left;

}

.activeSlide
{
	background:#ccc;
}



/* --------------------------------------------------------------

   Frame Publishing Buttons (ported from old Zeega by jms)

-------------------------------------------------------------- */

#framePublishing {

float: right;

}

#previewProject {

cursor: pointer;
font-size: 14px;
font-variant: small-caps;
margin-top: 10px;
float: right;
margin-left: 5px;


}

#previewProject a {

cursor: pointer;
font-size: 14px;
font-variant: small-caps;
margin-top: 10px;
background-color: #000;
padding: 5px;
color: #fff;
border: 0;
display: inline;
font-size: 14px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
cursor: pointer;
text-decoration: none;

}

#previewProject:hover a {

color: white;
background-color: red;

}


#embedProject {

cursor: pointer;
margin-top: 10px;
margin-left: 5px;
float: right;


}

#embedProject a {

cursor: pointer;
font-size: 14px;
font-variant: small-caps;

background-color: #000;
padding: 5px;
color: #fff;
border: 0;
display: inline;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
text-decoration: none;

}

#embedProject:hover a {

color: white;
background-color: red;

}
#publish-project-modal{
	font-size:1.1em;

}
#publish-project-modal .modal-header h3{
	height:auto;
}

#publish-project-modal p{
	font-size:0.8em;
	line-height:20px;
}
#publish-project-modal label{
	color: #555;
	font-size: 1.2em;
	font-weight: lighter;
	clear:both;
	margin-top:10px;
	margin-right:10px;

}
#publish-project-modal input{
	width:90%;
}
#publish-project-modal textarea{
	
	float:left;
}
#publish-project-modal input, #publish-project-modal textarea{
	margin-bottom:10px;
	margin-right:10px;
	font-size: 0.8em;
	color: #666;
}
.publish-preview{
	height:150px;
	border:1px solid #ccc;
	width:100% !important;
	overflow: hidden;
}
.publish-left-column{
	float:left;
	width:47%;
	
}
.publish-right-column{
	width:50%;
	float:left;
	padding-left:15px;
	border-left:1px solid #ccc;
	margin-bottom:10px;
}
.publish-footer{
	clear:both;
	margin-top:10px;
}
#publish-embed{
	width: 90%;
	height: 50px;
	word-break: break-all;
}
.tags .tagsinput {
	border: none !important;
	height: auto !important;
	width: auto !important;
	padding-left: 0;
}
.tag {
	margin-right: 4px !important;
	margin-top: 4px !important;

	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	color: #777 !important;
	font-size: 11px !important;
	border: 1px solid #CCC !important;
	background: #EFEFEF !important;
	padding: 2px 5px !important;
}
.tags a {
	color: gray !important;
	font-size: 11px !important;
}

#preview-images img{
	width:50px;
	height:50px;
	border:1px solid #ccc;
	padding:1px;

}
#preview-images img:hover, .publish-image-select{
	border:2px solid #F15A29 !important;
	padding:0 !important;
}
#publish-customize-size{
	display:none;
	font-size:0.8em;
	
}
#publish-customize-size label{
	display: inline;
	font-size:0.8em;
}
#publish-customize-size input{
width:50px;
	}
.customize{
		font-size:0.8em;
}
#tumblr_button_abc123 a{
	width:120px !important;
	position: relative;
	top: -7px;

}
#___plusone_0{
	margin-top:10px !important;
}
#publish-social-media{
	padding:10px 0;
}


#shareProject {

cursor: pointer;
font-size: 14px;
font-variant: small-caps;
margin-top: 10px;
float: right;


}

#shareProject a {

cursor: pointer;
font-size: 14px;
font-variant: small-caps;
margin-top: 10px;

background-color: #000;
padding: 5px;
color: #fff;
border: 0;
display: inline;
font-size: 14px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
cursor: pointer;
text-decoration: none;

}

#shareProject:hover a {

color: white;
background-color: red;

}
.modal-header .btn {
float: right;
margin-left: 5px;
margin-bottom: 0;
}

#browser-item-count{
	color: #CCC;
	position: relative;
	top: 6px;
	left: 5px;
	font-size: 1.25em;
}

.clear {

clear: both;

}



footer {

	padding: 5px;
	font-size: 12px;
	text-align: right;
	color: #666;
	bottom: 0;
	position:relative;
	top: 20px;
	clear:both;
}

#footer a {

color: #666666;
border-bottom: 1px dotted #666666;
text-decoration: none;

}

#footer a:hover {

text-decoration: underline;
border-bottom: 0px;


}

/******************
	UI ELEMENTS
*******************/

a .ui-slider-handle
{
	background : #444;
}


/* 
---------------------------------
Media Player and Controls
---------------------------------
*/ 

/*TIME_LEF*/

#plyr-editor{

	position: relative;
	border: 1px dotted #999;
	height: 165px;
	width: 266px;
	/*display:none;*/
}


#plyr-editor .plyr-timeline-wrapper { 

	position: relative;
	width: 100%;
	height: 40px;
	padding:5px;
}


#plyr-editor .plyr-timeline {

	position: relative;
	top: 12px;
	left: 32px;
	width:80%;
	height:8px;
	background-color: rgba(0,0,0,.8);

}

#plyr-editor .plyr-time-wrapper{
	position:relative;
	font-size:25px;
	font-weight:bold;
	color:white;
	padding:5px;
	height: 30px;
	width: 100%;
}

.plyr-bar{

	position:absolute;
	height:8px;
}


.plyr-cuein-bar{

	left:0px;
	z-index:10;
	background-color: red;
	opacity:0.7;


}

.plyr-time-bar{

	background-color: #666;
	opacity: 1;
	
}


.plyr-cueout-time {

float:right;
width:30%;
text-align:left;
margin:5px;



}

.plyr-cuein-time {

float:left;
width:30%;
text-align:right;
margin:5px;


}


.plyr-cueout-bar{

	right:0px;
	z-index:10;
	background-color:white;
	opacity:0.4;


}

#plyr-editor .plyr-edit-scrubber{
	position: absolute;
	cursor: pointer;
	height: 8px;
	width: 2px;
}

.plyr-cuein-scrubber{

	left:0px;
	top:0px;
	background-color:green;
	z-index:21;
}

.plyr-cueout-scrubber{

	right:0px;
	top:0px;
	background-color:red;
	border-top:0px solid red;
	z-index:22;
}

#plyr-editor .plyr-scrubber{

	border-color:red;
	left:0px;
	top:0px;
	height:20px;
	background-color:white;
	z-index:25;
}

.plyr-arrow-down {
  position:absolute;
  width:0px; 
  height:0px;
  left:-4px;
  top:-9px;
  
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:10px solid red;
  font-size:0px;
  line-height:0px;
}


.plyr-arrow-down-green {
  position:absolute;
  width:0px; 
  height:0px;
  left:-4px;
  top:-9px;
  
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:10px solid green;
  font-size:0px;
  line-height:0px;
}

.plyr-marker-select{

	width:10px;
	height:3px;
	position:absolute;
	top:-13px;
	left:-4px;
	background-color: yellow;
	z-index:25;
}

.plyr-hanging-box{
  position:absolute;
  width:8px; 
  height:8px;
  left:-3px;
  bottom:-2px;
  background-color:white;
}

#plyr-volume {
margin-top:10px;
left:10%;
padding: 5px;
height:0px;
width: 70%;
position:relative;
}







.plyr-video {
	position: relative;
	width:100%;
	height: 100%;
}




#plyr-standard .plyr-controls-wrapper {
	height:30px;
}


#plyr-standard .plyr-button-wrapper {
	padding-left:5px;
}

#plyr-standard .plyr-controls {
	padding-bottom:10px;
	position: relative;
	bottom: 35px;
	height: 20px;
	z-index:10px;
	background-color: rgba(1,0,1,0.8);
	width:100%;
	
}

#plyr-standard .plyr-timeline {
	position: relative;
	border-top: 2px dotted gray;
	left: 8%;
	top:15px;
	width:68%;
}


#plyr-standard .plyr-time {
	font-size:9px;
	font-weight:bold;
	color:white;
	float:right;
	width:20%;
	padding-right: 10px;
	padding-top:10px;
	height:20px;
	text-align:right;
	vertical-align:center;
}


#plyr-standard .plyr-scrubber {

	 position:absolute;
	 cursor:pointer;
	 top:-5px;
	 z-index:5;
	 background-color: red;
	 height: 8px;
	 -moz-border-radius:4px;
	 -webkit-border-radius: 4px;
	 border-radius: 4px;
	 width: 8px;
}


.plyr-button-wrapper {

	float:left;
	clear:both;
	padding-top:5px;
}



.plyr-button {

	bottom:0px;
	cursor: pointer;
}

.plyr-play {

	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #fbd061;
}

.plyr-pause {
	
	width: 5px; 
	height: 20px; 
	border-top: 0px; border-left: 3px solid #fbd061; border-bottom: 0px; border-right: 3px solid #fbd061;
}

/**********

END VIDEO STYLES

************/





/******************************************

	OVERRIDE STYLES
	
	
*******************************************/

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
