.well{ background-color: transparent }
.ingest-info
{
	padding: 8px 19px;
	border: transparent;
	margin-bottom:3px;
}

#widget-wrapper
{
    margin-top:20px; 
    color: whiteSmoke;
	font-size: 14px !important;
}
#widget-wrapper a:hover, #widget-wrapper a:active, #widget-wrapper a:visited{
	text-decoration:none;
	color: #FFFFFF;
}
#widget-wrapper #media-item
{
    margin-bottom: 5px;
}
.widget-form textarea, .widget-form input{
	background:transparent;
	border:none;
	color:whiteSmoke;
	width:100%;
}
.widget-textbox
{
	background-color: #333333;
	/*border: 1px #dddddd solid; */
	color: #dddddd;
	font-size: 10pt;
	display: block;
	margin-top: 5px;
	word-wrap: break-word;
	overflow: auto;
}

.widget-message {

	font-style: italic;
	color: #F15A29;
}
#message{

	display:none;
}

#description{
	height:200px;
}
#widget-description
{
	height:100%;
}
#item-image{
	width:150px;
}
#btn-more, #btn-less{
	font-variant: small-caps;
	letter-spacing: 1px;
	margin-top: 10px;
	display:block;
}
.add-button{
	position:relative; width:250px; float:right;
}
#widget-added-text{
	margin-top: 2em;
	font-weight:normal;
	display:none;
}
.widget-creator-added{
	font-size:0.9em;
}
#results-count{
	font-size:16px;
	font-weight:normal;
	margin-bottom:5px;
}
