

{# src/Zeega/IngestBundle/Resources/views/Widget/duplicate.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha {% endblock %}

{% block body %}


	<div id="widget-wrapper" style="margin-top:20px; color:white; font-size:14px;"> 
		<h>This {{content_type}} has already been uploaded to the {{playground.title}} playground.</h>
		<div style="width:100%; margin-left:25px; margin-top:35px; margin-right:25px;">
		
			<div style="position:relative; width:200px; height: 200px; float:left;">
				<div id="import-item" style='text-align:center; vertical-align:center;'><img style="border: solid 1px white; max-width:150px; max-height:150px;" id="image" src="http://core.zeega.org/images/items/{{item_id}}_t.jpg" class="scaled" >
				</div>
			</div>
		</div>	
	</div>
	
	


{% endblock %}	

{% block scripts %}
     <script type="text/javascript" src="{{asset('gamma/js/widget/zeega.widget.js')}}"></script>  
{% endblock %}



