

{# src/Zeega/IngestBundle/Resources/views/Widget/duplicate.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha {% endblock %}

{% block body %}


	<div id="widget-wrapper" style="margin-top:20px; color:white; font-size:14px;"> 
		<h>This {{content_type}} has already been uploaded to the {{playground.title}} playground.</h><br><br>
		
		<div id="import-item" style="position:relative; float:left;">
			<img style="border: solid 1px white; max-width:150px; max-height:150px;" id="image" src="http://core.zeega.org/images/items/{{item_id}}_t.jpg" class="scaled" ><br><br>
		</div>
		
	</div>
	
	


{% endblock %}	

{% block scripts %}
     <script type="text/javascript" src="{{asset('gamma/js/widget/zeega.widget.js')}}"></script>  
{% endblock %}



