

{# src/Zeega/IngestBundle/Resources/views/Widget/fail.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha{% endblock %}

{% block body %}

<div id="extensionWrapper" style="margin-top:20px; color: white; font-size:14px;"> 
 
<h>We cannot detect the media you are trying to add to Zeega. Drag the item from the page to the space below and we'll see if we can make it work.</h>

<div style="width:100%; text-align:center;">
<div id="extensionDrag" style="margin-left:25px;margin-top:35px; width:400px; height:500px; background-color: #FFFF66;"> 
</div> 
 </div>
</div> 

{% endblock %}	
{% block scripts %}
     <script type="text/javascript" src="{{asset('gamma/js/widget/drag.js')}}"></script>  
{% endblock %}