
<html> 
 
<head> 
    <title>Zeega Alpha</title> 
 
 
<!-- Other Scripts/Fonts/ETC --> 
 
<link href='http://fonts.googleapis.com/css?family=Nobile:regular,italic,bold,bolditalic&subset=latin' rel='stylesheet' type='text/css'> 
 
 
<link rel="stylesheet" type="text/css" href="{{asset('css/zeegaPages.css')}}" /> 
<link rel="icon" type="image/png" href="{{asset('images/zeega.ico')}}"> 
 
  
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>  
<script type="text/javascript" src="{{asset('js/widget/drag.js')}}"></script> 
 
 
 
 
 
<body> 
 
<div id="extensionWrapper"> 
 
We cannot detect the media you are trying to add to Zeega. Drag the item from the page to the space below and we'll see if we can make it work.
 {{url}}
<div id="extensionDrag"> 
</div> 
 
</div> 
 
</body> 
 
 
</html>