

{# src/Zeega/IngestBundle/Resources/views/Widget/fail.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha {% endblock %}

{% block body %}

	<div id="widget-wrapper" data-id="{{widget_id}}"> 
		<div id="media-item" >
			<div id="item-add" style="position:relative; width:250px; float:right;">
				<ul class="pill-buttons-widget">
					<li><a id="add-item" href="#">Add to Zeega Collection</a></li><br>
				</ul>
			</div>
			<div id="import-item" style="position:relative; float:left;">
				
			</div>
			<div style="clear:both;"></div>
		</div><!--#import-media-->
		
		<div style="float: left;">
		</div>
		<div style="clear:both;"></div>
		<div id="item-view">
			<img style="border: solid 1px white; max-width:150px; max-height:150px;" id="item-image" src="http://farm3.staticflickr.com/2037/2163470598_fb7571cdab_s.jpg" class="item-image" />
			<p class="title">TITLE</p>
			<p><span class="creator" style="border:solid black 1px;">CREATOR</span> <span class="source"></p>
			<p class="description">description</p>
			<p class="tags" ><a href=".">Dummy tag</a>, <a href=".">Another fake tag</a>, <a href=".">tag tag</a>, <a href=".">false longer tag</a></p>
		</div>
		More
		<div id='message' style="color: red;"></div>
	</div><!--#widget-wrapper-->
{% endblock %}		
 
{% block scripts %}
	<script data-main="{{ asset('gamma/js/main.widget.js')}}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>
	<script type="text/javascript" language="Javascript">
		//bootstrapping data
		var itemJSON = "{{item|e('js')}}";
	</script>	
{% endblock %}
