

{# src/Zeega/IngestBundle/Resources/views/Widget/fail.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha {% endblock %}

{% block body %}

	<div id="widget-wrapper" data-id="{{widget_id}}" style="margin-top:20px; color: white; font-size:14px;"> 
		<div id="import-media" style="margin-bottom: 5px;">
			<!--
			<div id="import-item" style="position:relative; float:left;">
			</div>
			-->
			<div id="item-add" style="position:relative; width:250px; float:right;">
				<ul class="pill-buttons-widget">
					<li><a id="add-item" href="#">Add to Zeega Collection</a></li><br>
				</ul>
			</div>
			
			<div style="clear:both;"></div>
		</div><!--#import-media-->
		
		<div style="float: left;">
		</div>
		<div style="clear:both;"></div>
		More
		<div id='message' style="color: red;"></div>
	</div><!--#widget-wrapper-->
{% endblock %}		
 
{% block scripts %}
	<script data-main="{{ asset('gamma/js/main.widget.js')}}" src="{{ asset('gamma/js/libraries/require-jquery.js')}}"></script>
	<script type="text/javascript" language="Javascript">
		//bootstrapping data
		var itemJSON = "{{item|e('js')}}";
	</script>	
{% endblock %}
