<!doctype html>
<html>
	<head>
		<style type="text/css">
			html {
				background: url({{asset('images/default_cover.png')}}) no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				color:white;
			}
			
			h1 {
				font-size:14px;
			}
			
			h2 {
				font-size:12px;
			}
			
			
			#text{
			
				width:100%;
				text-align:center;
				font-size: 30px;
				background-color:rgba(0,0,0,.5); 
				position: absolute; 
				top: 10%; 
				padding-top:10px;
				padding-bottom:10px;
				
			}
			a{
			
				color:yellow;
			
			}
			
	
			
			
			
		</style>

	
	</head>

	<body style="margin:0px;">
		
		<div id="text">
			Zeega is currently optimized for the latest versions of  <a href="http://www.google.com/chrome" target="_blank">Chrome</a> or <a href="http://www.apple.com/safari/" target="_blank">Safari</a>
		</div>
	</body>
</html>
