

{# src/Zeega/\CoreBundle\/Resources/views/Widget/fail.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha {% endblock %}

{% block body %}

	<div id="widget-wrapper" data-id="{{widget_id}}"> 
			
			
		<h3>You've now connected Dropbox and Zeega!</h3><br>
		
		Add media on Dropbox to your "Zeega" folder inside "Apps." Then click the Dropbox icon again within the editor to sync and use the media.
		
	</div><!--#widget-wrapper-->
{% endblock %}		
 

{% block scripts %}
{% endblock %}