

{# src/Zeega/\CoreBundle\/Resources/views/Widget/fail.widget.html.twig #}

{% extends '::widget.base.html.twig' %}

{% block title %}Zeega Alpha {% endblock %}

{% block body %}

	<div id="widget-wrapper" data-id="{{widget_id}}"> 
			
			
		<h3>You've now connected Dropbox and Zeega!</h3><br>
		
		When you go to your Dropbox account (either online or from your desktop), you'll notice a new folder. Inside "Apps," there is now "Zeega."<br><br>

		<img src="{{ asset('images/faq/DropboxZeegaApp.jpg')}}" alt="DropboxZeegaApp"><br><br>

		After you add files to this "Zeega" folder, you can sync with Dropbox to use them within Zeega. To sync, click the "Sync with Dropbox" button within the project editor.<br><br> 

		Currently supported file types:<br><br>

.jpg<br>
.gif<br>
.png<br>
.mp3<br>
.mp4<br><br>

For video compression, we suggest <a href="http://www.squared5.com/" target="_blank">MPEG Streamclip</a>. It's free and great. Good for Macs and PCs. Recommended settings:<br><br>

Video: H264 & 5000kbps<br>
Audio: AAC  320kbps 44.1 kHz<br>
		
	</div><!--#widget-wrapper-->
{% endblock %}		
 