@CHARSET "ISO-8859-1";


/*************************************

		ICONS
		
**************************************/

[class^="jdicon-"]
{
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: text-top;
	background-image: url(../images/jdicons-darkgrey-50.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	float:left;
	margin-right:5px;
}
[class^="jdicon-small-"]
{
	width: 25px;
	height: 25px;
	background-size: 306px 164px;
}
.jdicon-image{background-position:0 0}
.jdicon-email{background-position:-50px 0}
.jdicon-website{background-position:-100px 0}
.jdicon-twitter{background-position:-150px 0}
.jdicon-facebook{background-position:-200px 0}
.jdicon-map{background-position:-250px 0}
.jdicon-document{background-position:-300px -50px}
.jdicon-date{background-position:-0px -50px}
.jdicon-video{background-position:-400px 0}
.jdicon-article{background-position:-450px 0}
.jdicon-pdf{background-position:-350px -50px}
.jdicon-testimonial{background-position:-200px -200px}

.jdicon-small-list{background-position:-125px -25px}
.jdicon-small-world{background-position:-0px -50px}

/**************************************

	SEARCH BAR

**************************************/
.VS-search .VS-search-box {
	-webkit-border-radius:6px !important;
}
#search-filters { float:right; padding: 0 0 5px 0;}
#search{
	height:44px;
}


::-webkit-input-placeholder
{
	position:relative;
	top:6px;
}
#search-bar{
	position:relative;
	margin:10px 0 30px 0;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}
#search-bar h5
{
	line-height:18px;
	height:44px;
	color:rgba(255,255,255,0.85);
}
#search-bar select{
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	border: 0;
	background: transparent;
	width:154px;
	
}
#select-wrap {
	height:30px;
	position: absolute;
	top: 20px;
	left: 745px;
	font-size: 1.2em;
	font-weight: bold;
	color: #999;
	width: 150px;
	border-left: 2px solid #CCC;
	border-right: 2px solid #CCC;
	font-variant: small-caps;
	font-family:Arial,sans-serif;
}
#select-wrap-text{
	position: absolute;
	top: 6px;
	left: 20px;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #999;
	position: absolute;
	top: 14px;
	left: 117px;
}
/**************************************

	items list

**************************************/
#list-view{
	clear:both;
}
#items-list li, #items-list a
{
	padding:12px 0;
	color:#555;
}

#items-list li{
	border-bottom:1px solid whiteSmoke;
	border-radius:6px;
}
#items-list li:hover{
	background-color:whiteSmoke;
	cursor: pointer;
}
#items-list li a:hover{
	text-decoration:none;
	color:#08C;
}
/*
#items-list li:nth-child(odd)
{
	background:#eee;
	border-radius:6px;
}
*/


/**************************************

	event view

**************************************/

#event-map
{
	width:100%;
	height:800px;
}


a:focus {
	outline: 0px;
}

a {
	color: #77f;
	text-decoration: none;
}

.carousel {
	float: left;
	width: 100%;
	overflow: hidden;
}

.thumb-tiny {
	height: 35px;
	width: 60px;
	background: #aaa;
}


.body-text {
	text-align: left;
	font-size: 13px;
	line-height: 19px;
	font-size: 13px;
}

p {
	margin: 0px;
	padding: 0px;
}


#content {
	margin: 3px;
}

a:link,
a:visited
{
	color:red;
}
.btn{
	font-family: Arial,sans-serif;
	font-size: 11px !important;
	font-weight: bold;
	padding: 5px 15px 5px 10px !important;
	-webkit-border-radius:6px !important;
	
}
.btn-group a {
	color: #666 !important;
}
.btn-text{
	position: relative;
	top: 6px;
	left: 4px;
}
p
{
	text-align: justify;
	text-justify: newspaper
	font-size:1.15em
}

.hero-unit
{
	padding:20px 10px 10px 10px !important;
	text-align:center;
}


.white
{
	color:rgba(255,255,255,0.95);
}
.divider
{
	font-size: 5em;
	position: relative;
	top: 17px;
	margin-left: 32px;
	color:rgba(255,255,255,0.5);
	
}

.container
{
	margin-top:12px;
}

header
{
	height:50px;
}

#logo
{
	float:left;
	height:50px;
}

#user-bar
{
	float:right;
}

#user-bar a+a
{
	margin-left:12px;
}

#banner-index,
#banner-about
{
	position:relative;
	background-image:url('../images/main-image.jpg');
	margin:12px 0;
	overflow:hidden;
}

#banner-about{ height:50px }
#banner-index{ height:350px }

#intro-bar
{
	box-shadow:0 -12px 12px rgba(255,255,255,0.3);
	background:rgba(0,0,0,0.5);
	padding:24px;
	position:absolute;
	bottom:0;
	left:0;
	width:892px;
	border-radius:0 0 6px 6px;
}

#intro-bar .left-col{float:left;width:600px}
#intro-bar .right-col{float:right;width:280px;position:relative;top:-10px;}

#intro-bar h3{color:white;}

#teaser-text
{
	width:250px;
	background:rgba(255,255,255,0.90);
	padding:12px;
	float:right;
	box-shadow:6px 6px 6px rgba(0,0,0,0.25);
	border-radius:6px;
	text-shadow: white 2px 2px 0px;
}

#interact
{
	padding-bottom:18px;
}

#go-button
{
	height:55px;
	float:left;
	font-size:2em;
	margin-left:12px;
}

#add-button
{
	float:right;
	height:55px;
	width:273px;
	font-size:2em;
}



#archive-stats
{
	margin-top:12px;
	clear:both;
	color:#eee;
}


footer
{
	position:absolute;
	left:0;
	width:100%;
	background:#ddd;
	box-shadow:inset 0px 6px 6px #aaa;
}

.footer-nav li
{
	display:block;
	float:left;
}

.footer-nav li+li
{
	margin-left:12px;
}

#partner-logos img
{
	max-width:116px;
	max-height:50px;
	display:block;
	margin:0 auto;
}

#partner-logos,
#partner-logos li
{
	padding:0;
	margin:0;
}

#partner-logos li
{
	float:left;
	list-style:none;
	padding:20px;
	height:50px;
	width:116px;
}

.language
{
	height:15px;
	opacity:0.75;
	padding-bottom:2px;
}

.language:hover
{
	border-bottom:3px solid yellow;
	opacity:1;
	
}

.language-active
{
	opacity:1;
	border-bottom:3px solid red;
	cursor : 
}

.language:not(.language-active){
	cursor : pointer;
}

#header-menu li
{
	float:left; 
	display:block; 
	position:relative;
	margin:0 1px;
}

#header-menu>li + li
{
	margin-left:12px;
}

#header-menu li a
{
	display:block; 
}

#header-menu ul
{
	position:absolute; 
	left:0; 
	display:none; 
	margin:0 0 0 -1px; 
	padding:0; 
	list-style:none;
}

#header-menu ul li {
	width:100px; 
	float:left; 
	border-top:1px solid #fff;
}

#header-menu ul a {
	display:block;  
	text-align:left;
}

.partnerimg {

opacity: .5;

}

.partnerimg:hover {

opacity: 1;

}

.divider
{
	height:50px;
	position:relative;
	left:-10px;
	top:0;
}

.hidden{ display: none;}

#results-count {
	font-size: 1.5em;
	color: #666;
	float: left;
	margin-top: 18px;
	font-weight:bold;
}
#related-tags{
	clear:both;
	height:20px;
	margin-top: 10px;
	padding: 5px 0;
	border-top:1px solid whiteSmoke;
	border-bottom:1px solid whiteSmoke;
}
#related-tags-title{
	display:none;
}
#related-tags-title, #related-tags li{
	display: inline;
	font-variant: small-caps;
	font-size: 16px;
	font-weight: bold;
	color: #666;
	font-family: Arial, sans-serif;
	margin-left:0;
}
#related-tags ul{
	list-style:none;
	
}
#related-tags ul, #related-tags li{
	display: inline;
}
#related-tags li{
	margin-right:20px;
}
.item-title{
	text-align:justify;
	font-weight:bold;
}
.item-date, .item-author, .item-source{
	font-size:11px;
	font-family:Arial, sans-serif;
	color:#777;
	line-height:16px;

}
.item-date{
	text-align:right;
}
.item-author-left{
	text-align:left;
	margin-top:10px;
}
.item-description{
	font-weight:normal;
}
.item-website{
	font-weight:normal;

}
#spinner{
	margin-top:50px;
}

/********************

	CLEARFIX
	
*********************/
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
/********************

	PLYR
	
*********************/




.plyr-video {
position: relative;
width:100%;
height: 100%;
background-color:black;

}


.plyr-controls-wrapper {

position:relative;




}

.plyr-controls {
padding-bottom:10px;
position:absolute;
bottom:0px;
display:none;
height: 20px;
z-index:10px;
background-color: rgba(1,0,1,0.5);
width:100%;
}

.plyr-timeline {
position: relative;
border-top: 2px dotted gray;
left: 8%;
top:15px;
width:68%;

}

.plyr-time {

font-size:9px;
color:white;
float:right;
width:20%;
padding-right: 5px;
padding-top:8px;
height:20px;
text-align:right;
vertical-align:center;

}


.plyr-scrubber {

 position:relative;
 cursor:pointer;
 top:-5px;
 z-index:5;
 background-color: red;
 height: 8px;
 -moz-border-radius:4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 width: 8px;

}


.plyr-button-wrapper {

float:left;
padding:5px;

}



.plyr-button {

bottom:0px;
cursor: pointer;
}

.plyr-play {

width: 0;
height: 0;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-left: 10px solid #fbd061;
}

.plyr-pause {

width: 5px; 
height: 20px; 
border-top: 0px; border-left: 3px solid #fbd061; border-bottom: 0px; border-right: 3px solid #fbd061;

}
