/* 
---------------------------
---------------------------
CSS for Browser Extension
---------------------------
---------------------------
*/ 



/*
---------------------------
Layout
---------------------------
*/ 

body {

text-align: left;


}
.floatLeft {

float: left;

}

.floatRight {

float: right;

}
#wrapper { 

text-align:left; 
margin:0 auto; 
background: #DBDBDB;
width: 400px;

padding: 10px;

font-family: Delicious, sans-serif;
font-size: 12px;


}

#header {

background-color: #e6e6e6;
position: relative;
padding: 5px;
width: 385px;
float: left;
margin-bottom: 10px;

}

#headerLogo {

float: left;

}

#headerAccount {

float: right;

}

#mediaThumb {

text-align:center;

}


img.scaled {

max-height: 300px;
max-width: 395px;

}

#mediaTitleLeft {

float: left;

}

#mediaTitleRight {

float: right;
margin-right: 5px;
margin-top: -30px;


}

#mediaAuthor {

width: 180px;
float: left;

}

#mediaUsername {

width: 180px;
float: right;
margin-right: 2px;

}

#mediaYear {

width: 180px;
float: left;

}

#mediaMonth {

width: 180px;
float: right;
margin-right: 2px;

}



#loginButton {

float: left;

}

#forgetPassword {

float: right;
margin-right: 5px;
margin-top: 9px;

}



#clear {

clear: both;

}


#map {

float: left;
width: 200px;
height: 200px;

}

#locationDetails {

float: right;
width: 190px;
height: 200px;
margin-top: -10px;

}

#SaveCancel {

margin-top: 10px;
margin-bottom: 0px;

}

#mediaFail {

margin-bottom: 10px;

}

#welcome {

margin-bottom: 10px;

}

/*
---------------------------
Lists
---------------------------
*/

#mediaFail ul {

display: block;
list-style-type: square;
font-size: 12px;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;

}

#mediaFail li {

display: block;
list-style-type: square;
font-size: 12px;
margin-left: 10px;
margin-top: 

}

#welcome ul {

display: block;
list-style-type: square;
font-size: 12px;
margin-top: 10px;
margin-bottom: 10px;

}

#welcome li {

display: block;
list-style-type: square;
font-size: 12px;

}

ul {

list-style-type: none;
margin: 0;
padding: 0;
display: inline;
font-size: 10px;

}


li {

display: inline;
list-style-type: none;
width: 100%
text-align: left;
margin: 0px


}



/*
---------------------------
Typography
---------------------------
*/ 

@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
@font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf'); }

h1 {

font-family: Delicious, sans-serif;
font-size: 14px;
font-weight: bold;
padding: 0;
margin: 0;

}

a:link, a:visited {

text-decoration: none;
border-bottom: 1px dotted;
color: #000;
cursor: pointer;


}

a:hover {

text-decoration: none;
border-bottom: 1px solid;
color: red;


}

small {

font-size: 9px;
color: #ababab;

}

.error {

color: #45bcf3;

}

/* 
---------------------------
Forms
---------------------------
*/ 

label {

display: block;
font-variant: small-caps;
margin-top: 10px;
font-weight: bold;

}

textarea[name=mediaDescription] {

width: 395px;
max-width: 395px;
height: 60px;
border: 1px #ababab solid;

}

textarea {

overflow: hidden;
height: 20px;
width: 395px;
max-width: 395px;

}

input {

width: 395px;
height: 20px;
border: 1px #ababab solid;
-webkit-transition-property: -webkit-box-shadow, background;
-webkit-transition-duration: 0.25s;

}

#locationDetails input {

width: 188px;
border: 1px #ababab solid;
-webkit-transition-property: -webkit-box-shadow, background;
-webkit-transition-duration: 0.25s;

}


input:hover, textarea:hover {
-webkit-box-shadow: 0px 0px 1px #000;
background: #ffc;

}

input:focus, textarea:focus {
background-color: #ffc;

}


input[name=mapSearch] {

width: 333px;

}

/*
---------------------------
Buttons
---------------------------
 */ 


input[type=submit] {

background-color: #000;
color: #fff;
width: 75px;
border: 0;
display: inline;
font-size: 14px;
cursor: pointer;
margin-top: 5px;

-webkit-transition-duration: 0s;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-webkit-box-shadow: 0px 0px 0px #000;


}

input[type=submit]:hover {

background-color: #000;
color: red;
display: inline;
font-size: 14px;
border: 0;
-webkit-box-shadow: 0px 0px 0px #ff0000;


}

input[class=retrievePassword] {

width: 140px;

}

.AddtoDB input[type=submit] {

background-color: #000;
color: #fff;
width: 140px;
display: inline;
font-size: 14px;

}

.AddtoDB input[type=submit]:hover {

background-color: #000;
color: red;
width: 140px;
display: inline;
font-size: 14px;

}


.Secondary input[type=submit] {

background-color: #ababab;
color: #fff;
display: inline;
font-size: 14px;

}

.Secondary input[type=submit]:hover {

background-color: #ababab;
color: red;
display: inline;
font-size: 14px;

}

input[class=Find] {

background-color: #ababab;
color: #fff;
width: 60px;
display: inline;
font-size: 10px;


}

input[class=Find]:hover {

background-color: #ababab;
color: red;
width: 60px;
display: inline;
font-size: 10px;

}

