
#fancybox-media-container{
	width:640px;
	height:480px;
	background-color:white;
	text-align:center;
	
}
.fancybox-media-item{
	width:630px;
	min-height:380px;
	background-color:gray;
	text-align:center;
	margin-bottom:5px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding:7px 5px 5px 5px;
}
#fancybox-media-container .title{
	font-size: 1.4em;
	font-weight: bold;
	display:inline;
}
#fancybox-media-container .source{
	margin-left:30px;	
}
#fancybox-media-container .description, #fancybox-media-container .tags{
	color:#777;
	font-size: 12px;
}
#fancybox-media-container .description{
	margin: 30px 10px;
	line-height: 18px;
	text-align: justify;
	height: 335px;

	
}
#fancybox-media-container .tags{
	text-align: left;
	width: 50%;
}
.fancybox-media-item-more{
	width:50%;
	min-height:200px;
	float:left;
	margin-right: 20px;
}
.fancybox-media-container-more p{
	text-align:left;
}
.fancybox-media-item img{
	max-width:99%;
	max-height:85%;
	
}
.fancybox-media-item audio{
	margin:170px;
}
.fancybox-inner{
	overflow: hidden !important;
}
.fancybox-buttons{
	
	margin-top:10px;
	font-variant:small-caps;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	
}
.fancybox-buttons a:visited{
	text-decoration:none;
	color:#F15A29;
}
.fancybox-more-button, .fancybox-less-button{
	float:left;
}

.fancybox-delete-button{
	float:right;
}
.fancybox-form input{
	background:#efefef;
	border:none;
	font-size:inherit;
	font-weight:inherit;
}
/*override the default from the fancybox stylesheet*/
.fancybox-outer {
	background-color:#fff !important;
}
.fancybox-editable{
	border: 1px dotted #CCC;
}
.fancybox-remove-tag{
	display:none;
	margin-right: 3px;
	border: 1px solid;
	padding: 0 2px;
	font-size: 10px;
}
.fancybox-remove-tag:hover{
	background-color:#ccc;
	text-decoration:none;
}