<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/"> <head>
        
<meta property="og:title" content="Announcing the New Zeega"/>
<meta property="fb:page_id" content="43929265776" />        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Announcing the New Zeega</title>
        
        <!--[if gte mso 6]>
        <style>
            table.mcnFollowContent {width:100% !important;}
            table.mcnShareContent {width:100% !important;}
        </style>
        <![endif]-->
    <style type="text/css">
        #outlook a{
            padding:0;
        }
        .ReadMsgBody{
            width:100%;
        }
        .ExternalClass{
            width:100%;
        }
        body{
            margin:0;
            padding:0;
        }
        a{
            word-wrap:break-word !important;
        }
        img{
            border:0;
            height:auto !important;
            line-height:100%;
            outline:none;
            text-decoration:none;
        }
        table,td{
            border-collapse:collapse;
            mso-table-lspace:0pt;
            mso-table-rspace:0pt;
        }
        #bodyTable,#bodyCell{
            height:100% !important;
            margin:0;
            padding:0;
            width:100% !important;
        }
        #bodyCell{
            padding:20px;
        }
        .mcnImage{
            vertical-align:bottom;
        }
        .mcnTextContent img{
            height:auto !important;
        }
        body,#bodyTable{
            background-color:#ffffff;
        }
        #bodyCell{
            border-top:0;
        }
        #templateContainer{
            border:0;
        }
        h1{
            color:#202020 !important;
            display:block;
            font-family:Helvetica;
            font-size:26px;
            font-style:normal;
            font-weight:bold;
            line-height:100%;
            letter-spacing:normal;
            margin:0;
            text-align:left;
        }
        h2{
            color:#404040 !important;
            display:block;
            font-family:Helvetica;
            font-size:20px;
            font-style:normal;
            font-weight:bold;
            line-height:100%;
            letter-spacing:normal;
            margin:0;
            text-align:left;
        }
        h3{
            color:#606060 !important;
            display:block;
            font-family:Helvetica;
            font-size:16px;
            font-style:italic;
            font-weight:normal;
            line-height:100%;
            letter-spacing:normal;
            margin:0;
            text-align:left;
        }
        h4{
            color:#808080 !important;
            display:block;
            font-family:Helvetica;
            font-size:14px;
            font-style:italic;
            font-weight:normal;
            line-height:100%;
            letter-spacing:normal;
            margin:0;
            text-align:left;
        }
        #templatePreheader{
            background-color:#ffffff;
            border-top:0;
            border-bottom:0;
        }
        .preheaderContainer .mcnTextContent,.preheaderContainer .mcnTextContent p{
            color:#808080;
            font-family:Helvetica;
            font-size:10px;
            line-height:150%;
            text-align:left;
        }
        .preheaderContainer .mcnTextContent a{
            color:#606060;
            font-weight:normal;
            text-decoration:underline;
        }
        #templateHeader{
            background-color:#F4F4F4;
            border-top:0;
            border-bottom:0;
        }
        .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
            color:#505050;
            font-family:Helvetica;
            font-size:14px;
            line-height:150%;
            text-align:left;
        }
        .headerContainer .mcnTextContent a{
            color:#EB4102;
            font-weight:normal;
            text-decoration:underline;
        }
        #templateBody{
            background-color:#ffffff;
            border-top:0;
            border-bottom:0;
        }
        .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
            color:#505050;
            font-family:Helvetica;
            font-size:14px;
            line-height:150%;
            text-align:left;
        }
        .bodyContainer .mcnTextContent a{
            color:#EB4102;
            font-weight:normal;
            text-decoration:underline;
        }
        #templateFooter{
            background-color:#ffffff;
            border-top:0;
            border-bottom:0;
        }
        .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
            color:#808080;
            font-family:Helvetica;
            font-size:10px;
            line-height:150%;
            text-align:left;
        }
        .footerContainer .mcnTextContent a{
            color:#606060;
            font-weight:normal;
            text-decoration:underline;
        }
    @media only screen and (max-width: 480px){
        body,table,td,p,a,li,blockquote{
            -webkit-text-size-adjust:none !important;
        }

}   @media only screen and (max-width: 480px){
        body{
            width:100% !important;
            min-width:100% !important;
        }

}   @media only screen and (max-width: 480px){
        td[id=bodyCell]{
            padding:10px !important;
        }

}   @media only screen and (max-width: 480px){
        table[class=mcnTextContentContainer]{
            width:100% !important;
        }

}   @media only screen and (max-width: 480px){
        table[class=mcnBoxedTextContentContainer]{
            width:100% !important;
        }

}   @media only screen and (max-width: 480px){
        table[class=mcpreview-image-uploader]{
            width:100% !important;
            display:none !important;
        }

}   @media only screen and (max-width: 480px){
        img[class=mcnImage]{
            width:100% !important;
        }

}   @media only screen and (max-width: 480px){
        table[class=mcnImageGroupContentContainer]{
            width:100% !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=mcnImageGroupContent]{
            padding:9px !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=mcnImageGroupBlockInner]{
            padding-bottom:0 !important;
            padding-top:0 !important;
        }

}   @media only screen and (max-width: 480px){
        tbody[class=mcnImageGroupBlockOuter]{
            padding-bottom:9px !important;
            padding-top:9px !important;
        }

}   @media only screen and (max-width: 480px){
        table[class=mcnCaptionTopContent],table[class=mcnCaptionBottomContent]{
            width:100% !important;
        }

}   @media only screen and (max-width: 480px){
        table[class=mcnCaptionLeftTextContentContainer],table[class=mcnCaptionRightTextContentContainer],table[class=mcnCaptionLeftImageContentContainer],table[class=mcnCaptionRightImageContentContainer],table[class=mcnImageCardLeftTextContentContainer],table[class=mcnImageCardRightTextContentContainer]{
            width:100% !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=mcnImageCardLeftImageContent],td[class=mcnImageCardRightImageContent]{
            padding-right:18px !important;
            padding-left:18px !important;
            padding-bottom:0 !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=mcnImageCardBottomImageContent]{
            padding-bottom:9px !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=mcnImageCardTopImageContent]{
            padding-top:18px !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=mcnImageCardLeftImageContent],td[class=mcnImageCardRightImageContent]{
            padding-right:18px !important;
            padding-left:18px !important;
            padding-bottom:0 !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=mcnImageCardBottomImageContent]{
            padding-bottom:9px !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=mcnImageCardTopImageContent]{
            padding-top:18px !important;
        }

}   @media only screen and (max-width: 480px){
        table[class=mcnCaptionLeftContentOuter] td[class=mcnTextContent],table[class=mcnCaptionRightContentOuter] td[class=mcnTextContent]{
            padding-top:9px !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent]{
            padding-top:18px !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=mcnBoxedTextContentColumn]{
            padding-left:18px !important;
            padding-right:18px !important;
        }

}   @media only screen and (max-width: 480px){
        table[id=templateContainer],table[id=templateHeader],table[id=templateBody],table[id=templateFooter]{
            max-width:600px !important;
            width:100% !important;
        }

}   @media only screen and (max-width: 480px){
        h1{
            font-size:24px !important;
            line-height:100% !important;
        }

}   @media only screen and (max-width: 480px){
        h2{
            font-size:20px !important;
            line-height:100% !important;
        }

}   @media only screen and (max-width: 480px){
        h3{
            font-size:18px !important;
            line-height:100% !important;
        }

}   @media only screen and (max-width: 480px){
        h4{
            font-size:16px !important;
            line-height:100% !important;
        }

}   @media only screen and (max-width: 480px){
        table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent]{
            font-size:18px !important;
            line-height:125% !important;
        }

}   @media only screen and (max-width: 480px){
        table[id=templatePreheader]{
            display:none !important;
        }

}   @media only screen and (max-width: 480px){
        table[id=templateHeader]{
            border-top:0 !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=headerContainer] td[class=mcnTextContent]{
            font-size:18px !important;
            line-height:125% !important;
            padding-right:18px !important;
            padding-left:18px !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=bodyContainer] td[class=mcnTextContent]{
            font-size:18px !important;
            line-height:125% !important;
            padding-right:18px !important;
            padding-left:18px !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=footerContainer] td[class=mcnTextContent]{
            font-size:14px !important;
            line-height:115% !important;
            padding-right:18px !important;
            padding-left:18px !important;
        }

}   @media only screen and (max-width: 480px){
        td[class=footerContainer] a[class=utilityLink]{
            display:block !important;
        }

}</style>        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
            try {
                var _gaq = _gaq || [];
                _gaq.push(["_setAccount", "UA-329148-88"]);
                _gaq.push(["_setDomainName", ".campaign-archive.com"]);
                _gaq.push(["_trackPageview"]);
                _gaq.push(["_setAllowLinker", true]);
            } catch(err) {console.log(err);}</script>
                    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> <script src="http://us2.campaign-archive2.com/js/mailchimp/fancyzoom.mc.js"></script>  <script type="text/javascript">
    function incrementFacebookLikeCount() {
        var current = parseInt($('#campaign-fb-like-btn span').html());
        $('#campaign-fb-like-btn span').fadeOut().html(++current).fadeIn();
    }

    function getUrlParams(str) {
        var vars = {}, hash;
        if (!str) return vars;
        var hashes = str.slice(str.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    
    function setupSocialSharingStuffs() {
        var numSocialElems = $('a[rel=socialproxy]').length;
        var numSocialInitialized = 0;
        var urlParams = getUrlParams(window.document.location.href);
        var paramsToCopy = {'e':true, 'eo':true};
        $('a[rel=socialproxy]').each(function() {
            var href = $(this).attr('href');
            var newHref = decodeURIComponent(href.match(/socialproxy=(.*)/)[1]);
            // for facebook insanity to work well, it needs to all be run against just campaign-archive
            newHref = newHref.replace(/campaign-archive(\d)/gi, 'campaign-archive');
            var newHrefParams = getUrlParams(newHref);
            for(var param in urlParams) {
                if ((param in paramsToCopy) && !(param in newHrefParams)) {
                    newHref += '&' + param + '=' + urlParams[param];
                }
            }
            $(this).attr('href', newHref);
            if (href.indexOf('facebook-comment') !== -1) {
                $(this).fancyZoom({"zoom_id": "social-proxy", "width":620, "height":450, "iframe_height": 450});
            } else {
                $(this).fancyZoom({"zoom_id": "social-proxy", "width":500, "height":200, "iframe_height": 500});
            }
            numSocialInitialized++;
                    });
    }
    if (window.top!=window.self){
        $(function() {
          var iframeOffset = $("#archive", window.parent.document).offset();
          $("a").each(function () {
              var link = $(this);
              var href = link.attr("href");
              if (href && href[0] == "#") {
                  var name = href.substring(1);
                  $(this).click(function () {
                      var nameElement = $("[name='" + name + "']");
                      var idElement = $("#" + name);
                      var element = null;
                      if (nameElement.length > 0) {
                          element = nameElement;
                      } else if (idElement.length > 0) {
                          element = idElement;
                      }
         
                      if (element) {
                          var offset = element.offset();
                          var height = element.height();
                          //3 is totally arbitrary, but seems to work best.
                          window.parent.scrollTo(offset.left, (offset.top + iframeOffset.top - (height*3)) );
                      }
         
                      return false;
                  });
              }
          });
        });
    }
</script>  <script type="text/javascript">
            $(document).ready(function() {
                setupSocialSharingStuffs();
            });
        </script> <style type="text/css">
            /* Facebook/Google+ Modals */
            #social-proxy { background:#fff; -webkit-box-shadow: 4px 4px 8px 2px rgba(0,0,0,.2); box-shadow: 4px 4px 8px 2px rgba(0,0,0,.2); padding-bottom:35px; z-index:1000; }
            #social-proxy_close { display:block; position:absolute; top:0; right:0; height:30px; width:32px; background:transparent url(http://cdn-images.mailchimp.com/awesomebar-sprite.png) 0 -200px; text-indent:-9999px; outline:none; font-size:1px; }
            #social-proxy_close:hover { background-position:0 -240px; }
            body { padding-bottom:50px !important; }
        </style> </head>
    
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0;padding: 0;background-color: #ffffff;">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 0;background-color: #ffffff;height: 100% !important;width: 100% !important;">
                <tr>
                    <td align="center" valign="top" id="bodyCell" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 20px;border-top: 0;height: 100% !important;width: 100% !important;">
                        <!-- BEGIN TEMPLATE // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;">
                            <tr>
                                <td align="center" valign="top" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                    <!-- BEGIN PREHEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #ffffff;border-top: 0;border-bottom: 0;">
                                        <tr>
                                            <td valign="top" class="preheaderContainer" style="padding-top: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="366" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-left: 18px;padding-bottom: 9px;padding-right: 0;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #808080;font-family: Helvetica;font-size: 10px;line-height: 150%;text-align: left;">
                        
                            Zeega - Make the Web You Want
                        </td>
                    </tr>
                </tbody></table>
                
                <table align="right" border="0" cellpadding="0" cellspacing="0" width="197" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 0;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #808080;font-family: Helvetica;font-size: 10px;line-height: 150%;text-align: left;">
                        
                            <a href="http://us2.campaign-archive1.com/?u=487544372eb078b191750acc0&id=953338a3df&e=[UNIQID]" target="_blank" style="color: #606060;font-weight: normal;text-decoration: underline;word-wrap: break-word !important;">View this email in your browser</a>
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></td>                                            
                                        </tr>
                                    </table>
                                    <!-- // END PREHEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                    <!-- BEGIN HEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #F4F4F4;border-top: 0;border-bottom: 0;">
                                        <tr>
                                            <td valign="top" class="headerContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;"></td>
                                        </tr>
                                    </table>
                                    <!-- // END HEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                    <!-- BEGIN BODY // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #ffffff;border-top: 0;border-bottom: 0;">
                                        <tr>
                                            <td valign="top" class="bodyContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
    <tbody class="mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" class="mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                        <tbody><tr>
                            <td class="mcnImageContent" valign="top" style="padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                
                                    
                                        <img align="left" alt="" src="http://gallery.mailchimp.com/487544372eb078b191750acc0/images/zeegaRed600.jpg" width="564" style="max-width: 600px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;line-height: 100%;outline: none;text-decoration: none;height: auto !important;" class="mcnImage">
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;line-height: 150%;text-align: left;">
                        
                            <p dir="ltr" style="line-height: 1.15;margin-top: 0pt;margin-bottom: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;text-align: left;">
    <b id="docs-internal-guid-422b5efb-7c0c-8f48-1150-b4e3a2f20224" style="font-weight: normal;"><span style="font-size: 15px; font-family: Arial; vertical-align: baseline; white-space: pre-wrap;">Dear </span></b><b id="docs-internal-guid-422b5efb-7c0c-8f48-1150-b4e3a2f20224" style="font-weight: normal;"><span style="font-size: 15px; font-family: Arial; vertical-align: baseline; white-space: pre-wrap;">{{name}}</span></b></p>
<br>
<p dir="ltr" style="line-height: 1.15;margin-top: 0pt;margin-bottom: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;text-align: left;">
    <b id="docs-internal-guid-30f28800-803e-f063-b0a1-15f4579ff313" style="font-weight: normal;"><span style="font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">We’d love to invite you to take the new Zeega editor for a spin.</span></b></p>

                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
    <tbody class="mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" class="mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                        <tbody><tr>
                            <td class="mcnImageContent" valign="top" style="padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                
                                    
                                        <img align="left" alt="" src="http://gallery.mailchimp.com/487544372eb078b191750acc0/images/calove_6001e34f9.gif" width="564" style="max-width: 600px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;line-height: 100%;outline: none;text-decoration: none;height: auto !important;" class="mcnImage">
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;line-height: 150%;text-align: left;">
                        
                            <p dir="ltr" style="line-height: 1.15;margin-top: 0pt;margin-bottom: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;text-align: left;">
    <strong style="line-height: 1.15;"><b id="docs-internal-guid-30f28800-803f-75fe-1b23-30092e729adc" style="font-weight:normal;"><span style="font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">Back in the day, you signed up for the Zeega beta. It’s been a long time coming, but it’s finally here.</span></b></strong></p>
<p dir="ltr" style="line-height: 1.15;margin-top: 0pt;margin-bottom: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;text-align: left;">
    <br>
    <strong><span><b id="docs-internal-guid-30f28800-803f-75fe-1b23-30092e729adc" style="font-weight:normal;"><span style="font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">Get started with your new account right now here:</span></b></span></strong><br>
    <br>
    <span><b style="font-weight:normal;"><span style="font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">{{link}}</span></b></span></p>

                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
    <tbody class="mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" class="mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                        <tbody><tr>
                            <td class="mcnImageContent" valign="top" style="padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                
                                    
                                        <img align="left" alt="" src="http://gallery.mailchimp.com/487544372eb078b191750acc0/images/editor_record.jpg" width="564" style="max-width: 600px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;line-height: 100%;outline: none;text-decoration: none;height: auto !important;" class="mcnImage">
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;line-height: 150%;text-align: left;">
                        
                            <p dir="ltr" style="color: #505050;font-family: Helvetica;font-size: 14px;line-height: 150%;text-align: left;">
    <b id="docs-internal-guid-5a8910b0-80ce-657f-ab10-2db67c13aea2" style="line-height: 1.15; font-weight: normal;"><span style="font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">Here are some new features you’ll find in the editor:</span></b></p>
<ul style="margin-top:0pt;margin-bottom:0pt;">
    <li dir="ltr" style="list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline;">
        <p dir="ltr" style="line-height: 1.15;margin-top: 0pt;margin-bottom: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;text-align: left;">
            <b id="docs-internal-guid-5a8910b0-80ce-657f-ab10-2db67c13aea2" style="font-weight:normal;"><span style="background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">Zeegas are playable across mobile, tablet and desktop</span></b></p>
    </li>
    <li dir="ltr" style="list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline;">
        <p dir="ltr" style="line-height: 1.15;margin-top: 0pt;margin-bottom: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;text-align: left;">
            <b id="docs-internal-guid-5a8910b0-80ce-657f-ab10-2db67c13aea2" style="font-weight:normal;"><span style="background-color: transparent; vertical-align: baseline; white-space: pre-wrap;"></span></b><b id="docs-internal-guid-5a8910b0-80ce-657f-ab10-2db67c13aea2" style="background-color: transparent; font-weight: normal;"><span style="background-color: transparent; vertical-align: baseline;">Daily curated GIFs, songs and videos to remix</span></b></p>
    </li>
</ul>
<ul style="margin-top:0pt;margin-bottom:0pt;">
    <li dir="ltr" style="list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline;">
        <p dir="ltr" style="line-height: 1.15;margin-top: 0pt;margin-bottom: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;text-align: left;">
            <b id="docs-internal-guid-5a8910b0-80ce-657f-ab10-2db67c13aea2" style="font-weight:normal;"><span style="background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">Search for and use content from Tumblr, SoundCloud, Giphy, Flickr and YouTube</span></b></p>
    </li>
    <li style="list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline; line-height: 1.15; margin-top: 0pt; margin-bottom: 0pt;">
        <b id="docs-internal-guid-5a8910b0-80ce-657f-ab10-2db67c13aea2" style="font-weight:normal;"><span style="background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">Upload images from your computer directly to Zeega</span></b></li>
    <li style="list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline; line-height: 1.15; margin-top: 0pt; margin-bottom: 0pt;">
        <b style="font-weight:normal;"><span style="background-color: transparent; vertical-align: baseline; white-space: pre-wrap;"></span></b><b id="docs-internal-guid-5a8910b0-80ce-657f-ab10-2db67c13aea2" style="font-weight: normal;"><span style="background-color: transparent; vertical-align: baseline;"></span></b><b id="docs-internal-guid-5a8910b0-80ce-657f-ab10-2db67c13aea2" style="font-weight: normal;"><span style="background-color: transparent; vertical-align: baseline;">Zeegas work within apps like Twitter, Tumblr and Facebook</span></b></li>
</ul>
<br>
<p dir="ltr" style="line-height: 1.15;margin-top: 0pt;margin-bottom: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;text-align: left;">
    <b id="docs-internal-guid-5a8910b0-80ce-657f-ab10-2db67c13aea2" style="font-weight:normal;"><span style="font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">Make your own Zeega. Take us on an exploration. Make a music video. Tell a story. We’re excited to see what you create!</span></b></p>
<br>
<p dir="ltr" style="line-height: 1.15;margin-top: 0pt;margin-bottom: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;text-align: left;">
    <b id="docs-internal-guid-5a8910b0-80ce-657f-ab10-2db67c13aea2" style="font-weight:normal;"><span style="font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">- The Zeega team</span></b></p>
<br>
<p dir="ltr" style="line-height: 1.15;margin-top: 0pt;margin-bottom: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;text-align: left;">
    <b id="docs-internal-guid-5a8910b0-80ce-657f-ab10-2db67c13aea2" style="font-weight:normal;"><span style="font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">P.S. We’ll be sending more info on this later in the week, but we wanted you to be the first to know. On May 30 and 31st we’ll be exhibiting Zeegas at SFMOMA! If you’ve ever dreamed of showing a piece at SFMOMA, now is your chance. Any Zeega created in the next few weeks will be considered for the exhibition.</span></b></p>
<br>
<b id="docs-internal-guid-5a8910b0-80ce-657f-ab10-2db67c13aea2" style="font-weight:normal;"><span style="font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">P.P.S. Here’s a Zeega for the road.</span></b>
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
    <tbody class="mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" class="mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                        <tbody><tr>
                            <td class="mcnImageContent" valign="top" style="padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                
                                    <a href="http://zeega.com/112692" title="" class="" target="_blank" style="word-wrap: break-word !important;">
                                        <img align="left" alt="" src="http://gallery.mailchimp.com/487544372eb078b191750acc0/images/reeves_text.jpg" width="564" style="max-width: 600px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;line-height: 100%;outline: none;text-decoration: none;height: auto !important;" class="mcnImage">
                                    </a>
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                    <!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #ffffff;border-top: 0;border-bottom: 0;">
                                        <tr>
                                            <td valign="top" class="footerContainer" style="padding-bottom: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #808080;font-family: Helvetica;font-size: 10px;line-height: 150%;text-align: left;">
                        
                            <em>Copyright © 2013 Zeega</em><br>
<br>
 <a class="utilityLink" href="http://zeega.us2.list-manage.com/unsubscribe?u=487544372eb078b191750acc0&id=9663eef8ed&e=[UNIQID]&c=953338a3df" style="color: #606060;font-weight: normal;text-decoration: underline;word-wrap: break-word !important;">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp; <a class="utilityLink" href="http://zeega.us2.list-manage.com/profile?u=487544372eb078b191750acc0&id=9663eef8ed&e=[UNIQID]" style="color: #606060;font-weight: normal;text-decoration: underline;word-wrap: break-word !important;">update subscription preferences</a>&nbsp;<br>
<br>

                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>    
</html>
