parameters:
    zeega_solr.class: Zeega\DataBundle\Service\SolrService
    zeega_item.class: Zeega\DataBundle\Service\ItemService

services:
    zeega_solr:
        class: %zeega_solr.class%
        arguments:
            solr: "@solarium.client"

    zeega.item:
        class: %zeega_item.class%
        arguments:
            thumbnailService: "@zeega_thumbnail"

