
<div id="durationWrapper"><span style="line-height: 1.9;"> Duration: </span><span id="layerDuration" class="layerLength">0 </span> </div>

<div id="avControls"> 
	<div id="avStart"> 
				<span>In:</span><input disabled="true"  name="avStartMinutes" class="mediaInput mediaInputMinutes" id="avStartMinutes" value="0" type="text">:<input  disabled="true"  name="avStartSeconds" class="mediaInput mediaInputSeconds" id="avStartSeconds" value="00.0" type="text">
	</div>
	<div id="avStop"> 
		<span>Out:</span> <input name="avStopMinutes" class="mediaInput" disabled="true" id="avStopMinutes" value="0" type="text">:<input  disabled="true"  class="mediaInput" name="avStopSeconds" id="avStopSeconds" value="00.0" type="text">
	</div>
</div>

<div id="avVolumeWrapper">
</div> 

<div class="avComponent"> 
	<div id="mediaPlayerMP"> 
		<div id="loadingMP" ><p>Loading Media...</p></div>
		<div id="playMP" class="playButtonMP"> </div> 
		<div id="loadingOutsideMP"> 
			<div id="startBar"></div>
			<div id="stopBar"></div>
			<div id="startMP" class="markerMP"><div class="bar"></div><div class="arrow-down"></div></div>
			<div id="stopMP" class="markerMP"><div class="bar"></div><div class="arrow-down"></div></div>
			<div id="currentMP" class="markerMP"><div class="box"></div></div>
			<div id="loadingInsideMP"> </div> 
			<div id="loadingStatusMP"></div> 
		</div> 
		<div id="timeWrapperMP"><span id="currentTime"></span> </div>
	</div>					 
</div> <!-- #avComponent --> 
<div id="clear"></div> 

<div id ="volumeMP">
<h4>Volume</h4>
<div id="volume-slider" ></div>
</div>