<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type"
	content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="discovery-content-container">
		<div id="discovery-sidebar">
			<div id="discovery-sidebar-search">
					<input id="discovery-sidebar-spacer"></input> <input
						type="text" name="search-string"
						id="discovery-search-text-field"></input> <input
						type="submit" id="discovery-search-submit"
						class="btn info submit" value="Search"
						></input>
			</div>
			<div id="discovery-sidebar-filters"></div>
		</div>
		<div id="discovery-interface">
			<div id="discovery-tabs">
				<div id="discovery-tabs-table">
					<div class="row">
						<div id="discovery-tab-buffer-left" class='cell'>&nbsp;</div>
						<div class='discovery-tab cell' id="list-tab">
							<p class="body">LIST</p>
						</div>
						<div class='discovery-tab cell' id="thumb-tab">
							<p class="body">THUMBNAIL</p>
						</div>
						<div class='discovery-tab cell' id="event-tab">
							<p class="body">EVENT</p>
						</div>
						<div class='discovery-tab cell' id="tags-tab">
							<p class="body">TAGS</p>
						</div>
						<div id="discovery-tab-buffer-right" class='cell'>&nbsp;</div>
					</div>
				</div>
			</div>
			<div id="discovery-interface-content"></div>
		</div>
	</div>
</body>
</html>