<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>


<head>

<!-- put this in the template
		<%= description ? "<p class='black-12'>" + description + </p> : "" %> 
-->

<script type="text/template" id="list-item-template">
<div>
	<div class="discovery-list-thumb-container">
		<img class="img-144 discovery-list-thumb" src = "<%= thumbnail_url ? thumbnail_url : "images/blank-144x144.jpg" %>">
	</a></div>
	<div class='discovery-list-info-area'>
		<%= date_created ? "<div class='item-meta'>" + stringToFormatted(date_created['date']) + "</div>" : "" %>

		<p>
			<span class="black-18 discovery-list-title"><%=title%></span>
		</p>
		<p>
			<%= media_creator_username ? "<span class='gray-18'>From: </span>
			  <span class='black-18'>" + media_creator_realname + "</span> " : "" %>
		</p>
		
	</div>
	<div class="lightbox-hider">
	</div>
</div>
</script>

<script type="text/template" id="compact-list-item-template">
<div>
	<div class="discovery-compact-list-thumb-container">
		<img class="img-72" src = "<%= thumbnail_url ? thumbnail_url : "images/blank-72x72.jpg" %>">
	</div>
	<div class='discovery-list-info-area' >
		<p  class="black-12"><%=title%></p>
		<%= media_creator_realname ? "<p><span class='gray-12'>From: </span>
			<span class='black-12'>" + media_creator_realname + "</span></p> " : "" %> 
		<%= date_created ? "<p class='blue-12'>" + stringToFormatted(date_created['date']) + "</p>" : "" %>
	</div>
	<div class="lightbox-hider">
	</div>
</div>
</script>

<script type="text/template" id="lightbox-item-template">
<div>
	<div class='lightbox-preview'></div>
	<div class='lightbox-infobar'>
		<%= title ? "<p class='white-18 lightbox-title'>" + title + "</p>" : "" %>
		<%= media_creator_username ? "<p><span class='white-15'>from</span>
			<span class='white-15'>" + media_creator_username + "</span></p> " : "" %> 
		<%= date_created ? "<p class='blue-15'>" + stringToFormatted(date_created['date']) + "</p>" : "" %>
	</div>
</div>
</script>

<script type="text/template" id="page-item-template">
<div class="page-container">
	<div class='page-preview-area'>
		<p class="page-back-to-results"> < Back to results</p>
		<div class="page-preview"></div>
		<p class="black-15">Description:</p>
		<p class="black-12"><%=description%></p>
	</div>
	<div class='page-metadata-area'>
		<div class='page-metadata-scroll'>
			<p class="blue-18 page-title"><%=title%></p>
			<%= media_creator_username ? "<p><span class='gray-15'>From: </span>
				<span class='black-15'>" + media_creator_username + "</span></p> " : "" %>
			<%= media_creator_username ? "<p><span class='gray-15'>Date: </span>
				<span class='black-15'>" + stringToFormatted(date_created['date']) + "</span></p> " : "" %>
			<p class='gray-15'>Tags:</p>
			<p class='black-15 page-tag-text'></p>
			<p class='black-12'>add tag : <input type="text" id="add-tag" class='metadata-new-tag-input'/></p>
		</div>
	</div>
	<div class="page-related-area">
	</div>
</div>
</script>

</head>
<body>
</body>
</html>
