<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>

# Maintenance redirect - needs to be adjusted with the correct root folder and ip
Options +FollowSymlinks
    RewriteEngine on
    # redirect all requests except these

    RewriteCond %{REQUEST_URI} !/maintenance.html$      
    RewriteCond %{REQUEST_URI} !/images/zeegaAlpha.png$
    # don't redirect requests from this IP address
    RewriteCond %{REMOTE_HOST} !^67.186.132.2

    RewriteRule $ /maintenance.html [R=302,L]
